<div class="container-fluid">
  <p>(For A Hatchback Car)</p>
  <div class="row">
    <div class="col-7">
      One Time Car Sanitization Cost
    </div>
    <div class="col-1">
      =
    </div>

    <div class="col-4">
      Rs. 200
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      One Time Car Waxing Cost
    </div>
    <div class="col-1">
      =
    </div>

    <div class="col-4">
      Rs. 300
    </div>
  </div>
  <div class="row">
      <div class="col-7">Monthly Car Cleaning Cost
      </div>
      <div class="col-1">
        =
      </div>
  
      <div class="col-4">
        Rs. 400
      </div>
    </div>

  <div class="row">
    <div class="col-12">
      <p style="margin-top: 1em;">Standard Monthly Plan Includes</p> 
    </div>
  </div>

  <div class="row">
    <div class="offset-1"></div>
      <div class="col-5">
        <indicator title="8 X 200" symbol="8 Sanitizer Applications per Month" size="130"></indicator>
        <p>Rs. 1,600</p>
      </div>
      <div class="col-1">
        <span class="add-symbol">+</span>
      </div>
      <div class="col-5">
        <indicator title="8 X 300" symbol="8 Wax Applications per Month" size="130"></indicator>
        <p>Rs. 2,400</p>
      </div>
    </div>

    <div class="row">
        <div class="col-7">
          Total Expenses
        </div>
        <div class="col-1">
          =
        </div>
    
        <div class="col-4">
          Rs. 4,400
        </div>
      </div>

      <div class="row">
          <div class="col-7">
            CCube Monthly Subscription
          </div>
          <div class="col-1">
            =
          </div>
      
          <div class="col-4">
            Rs. 500
          </div>
        </div>

        <div class="row">
            <div class="col-7">
              <strong>TOTAL SAVINGS</strong>
            </div>
            <div class="col-1">
              =
            </div>
        
            <div class="col-4">
              <strong>Rs. 3,900</strong>
            </div>
          </div>
</div>