// ion-slide.swiper-slide-active {
//     background: yellow;
// }
@import "src/variables.scss";

ion-slides {
    border-radius: 15px;
    margin-top: -20px;
    margin-bottom: -20px;
}

ion-slide {
    top: 0;
    opacity:0.4;
    position: relative;
    transition: all 0.4s ease-in-out;
    padding-top: 50px;
    
}

ion-slide.swiper-slide-active {
    padding: 0;
    opacity:1;
    top: 0;

}