@import 'src/variables.scss';



.input{
    border-color: '#eee';
    border-radius: 10px;
    border-width: 1px;
}
p{
    align-self: center;
}

.checkout-content {
    background: $bg-gray;
    height: 100%;
    min-height: 100vh;

}
.container {
    background: $bg-white;
    padding: 25px;
    padding-top: 5em;
    padding-bottom:4em;
    overflow-x: hidden;
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    height: 100vh;
}


.info-row {
    span {
        color: blue;
        font-weight: bold;
        font-size: 20px;
    }
    .heading {
        color: $primary-color;
    }

    .rs {
        color: $secondary-color;
    }
}