<ion-content>
  <div class="container-fluid">
    <div class="row checkout-content">
      <div class="offset-md-2 col-md-8">
        <div class="container">


          <div *ngIf="context=='checkout'" class="--padding-x">

            <selected-car *ngIf="selectedCar" [car]="selectedCar" (changeCar)="resetCar()"></selected-car>

            <switch #durationSwitch *ngIf="mode.addon || mode.plan" (toggle)="refreshCarAndPlans()"></switch>

            <ng-container *ngIf="(mode.plan || mode.addon || mode.adhoc) && selectedCar; else noItemsTemplate">
                <checkout-details 
                #detailsComp
                [includedAddons]="includedAddons" 
                [includedAdhocs]="includedAdhocs"
                [addon]="selectedAddon" 
                [adhoc]="selectedAdhoc"
                [plan]="selectedPlan" 
                [car]="selectedCar"
                [discount]="discount"
                [mode]="mode"
                (planChanged)="changePlan($event)"
                (removeAddon)="onAddonSelected($event, true)"
                (removeAdhoc)="onAdhocSelected($event, true)"
                (removeCoupon)="onRemoveCoupon()"
                (showAddonDetails)="openAddon($event)"
                
                >
  
  
              </checkout-details>
  
              <coupons-list #cpnList [slim]="true" 
                [appliedCoupons]="appliedCoupons" [availableCoupons]="availableCoupons" 
                [totalAmount]="serviceTotal" 
                (discount)="applyDiscount($event)"
                (removeCoupon)="onRemoveCoupon()"
                (showAddons)="goToAddons()"
                [society]="currentSociety"
                ></coupons-list>
             
  
            <ng-container *ngIf="retryAddon">
              <addon-slider [plan]="selectedPlan"  [bodyType]="selectedCar.bodyType" *ngIf="(mode.plan || mode.addon)" [blockedAddons]="blockedAddons" [selectedAddons]="includedAddons" (addonSelected)="onAddonSelected($event)" (showDetails)="openAddon($event)"></addon-slider>
              <adhoc-slider [bodyType]="selectedCar.bodyType" [plan]="selectedPlan" [selectedAdhocs]="includedAdhocs" [blockedAdhocs]="blockedAdhocs" (adhocSelected)="onAdhocSelected($event)" (showDetails)="openAddon($event)" ></adhoc-slider>
            </ng-container>
              <cta text="Confirm" [sticky]="true" [loading]="loading" [disabled]="loading" (action)="confirmCheckout()"></cta>
            </ng-container>
            <ng-template #noItemsTemplate>
                <heading text="Looks like your cart is empty."></heading>
                <cta text="Back To Dashboard" (action)="backToDashboard()"></cta>
              </ng-template>
          </div>

          <div *ngIf="context=='confirm' && selectedCar" class="--padding-x">
            <selected-car *ngIf="selectedCar" [car]="selectedCar" (changeCar)="changeCar()"></selected-car>

            <cc-accordion #drawerCar title="Verify Your Car" [step]="'1'" [error]="carMismatch" [locked]="step2Ready">
              <br/>
              <car-form [regNo]="selectedCar.regNo" *ngIf="resetCarForm" [verifyOnly]="true" (carReady)="verifyCar($event)"></car-form>
              <!-- <div class="alert alert-danger" role="alert">
                Selected Car doesn't match with Registration Number!
                <br/>
                
              </div> -->

              <warning  *ngIf="carMismatch && carIdentified" [text]="'This is a different car. You can continue to checkout after reviewing pricing for this car.'"></warning>

              <div class="row" *ngIf="carMismatch">
                <div class="col-6 --no-padding-right">
                    <cta [text]="'Review ' + (mode.plan ? 'Plan' : 'Service')" pill="true" (action)="updatePlan()"></cta>
                </div>
                <div class="col-6">
                    <cta class="float-right" pill="true" (action)="resetCarNumber()" text="Retry" outline="true"></cta>
                </div>
              </div>
              
              <div *ngIf="!carMismatch && carIdentified && !isRcMissing" class="alert alert-success" role="alert">
                Car Details Verified Succesfully!
              </div>
            </cc-accordion>

            <cc-accordion #drawerLocation title="Confirm Your Location" [step]="'2'" [disabled]="!step2Ready" [locked]="step3Ready" (onToggle)="handleLocationOpen($event)">
              <confirm-location #confLoc [location]="savedLocation" (confirm)="saveLocation($event)" (retryCoupons)="retryCoupons()"></confirm-location>
            </cc-accordion>

            
            <!-- <cc-accordion #drawerTime title="Confirm Your Timings" [step]="'3'" [disabled]="!step3Ready" [locked]="timeSaved">
              <heading text="What time do you leave for office ?"></heading>
                <input class="officeTime" name="officeTime" [(ngModel)]="officeTime" [ngxTimepicker]="picker" minutesGap="15" placeholder="ex. 10:00 AM">
                <ngx-material-timepicker #picker  minutesGap="15"></ngx-material-timepicker>
              <cta text="Confirm" (action)="completeVerification(true, true)"></cta>
            </cc-accordion>
   -->

            <!-- <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Verify Your Car
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <car-form [verifyOnly]="true" (carReady)="verifyCar($event)"></car-form>
  
                       <br/>
                            <div *ngIf="carMismatch && carIdentified" class="alert alert-danger" role="alert">
                                Selected Car doesn't match with Registration Number!
                              </div>
                              <div *ngIf="!carMismatch && carIdentified" class="alert alert-success" role="alert">
                                  Car Details Verified Succesfully!
                                </div>
  
                          
  
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Location
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Timings
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                  </div>
                  
   -->

            <cta text="Checkout" *ngIf="verificationComplete" [sticky]="true" [loading]="loading" (action)="showConfirmation()"></cta>

          </div>




          <!-- <cc-accordion title="Some Title">
              <span>No Some Content </span>
            </cc-accordion> -->
          <!-- 
            <div class="alert alert-primary" role="alert">
              <div class="row">
                <div class="col-8">
                   Your Selected Car
                </div>
                <div class="col-4">
                    <span class="alert-link float-right" (click)="changeCar()" >Change ?</span>
                </div>
              </div>
                

                <div class="row info-row">
                    <div class="col-5">
                      <span class="heading">Maker</span>
                      <br/>
                      <span> {{selectedCar.maker}}</span>
                    </div>
                    <div class="col-7">
                        <span class="heading">Model</span>
                        <br/>
                        <span>{{selectedCar.model}}</span>
                      </div>
                      
                  </div>
                   
              </div>

              <div class="alert alert-secondary" role="alert">

                      <div class="row">
                        <div class="col-8">
                           Your Selected Plan
                        </div>
                      
                        <div class="col-4">
                            <span class="alert-link float-right" (click)="changePlan()">Change ?</span>
                        </div>
                      </div>
                      
                  <div class="row info-row">
                    <div class="col-4">
                      <span class="heading">Plan</span>
                      <br/>
                      <span>{{selectedPlan.name}}</span>
                    </div>
                    <div class="col-4">
                        <span class="heading">Body Type</span>
                        <br/>
                        <span class="capitalize">{{selectedCar.bodyType}}</span>
                      </div>
                      <div class="col-4">
                          <span class="heading">Amount</span>
                          <br/>
                          <span class="rs" >&#8377;</span> <span>{{selectedPlan.price}}</span>
                        </div>
                  </div>
              </div> -->




        </div>
      </div>
    </div>
  </div>
</ion-content>