<ion-content>
  <div class="container-fluid">
    <div class="row dashboard-content">
      <div class="offset-md-2 col-md-8">
        <div class="container">
          <ng-container *ngIf="ready">
            <app-dashboard *ngIf="context==='dashboard' && !forDemo" [includedAddons]="includedAddons"
              [includedAdhocs]="includedAdhocs" [currentCar]="selectedCar" [planDuration]="planDuration"></app-dashboard>
              <div *ngIf="context==='dashboard' && forDemo">
              <selected-car [car]="selectedCar" (changeCar)="resetCar()"></selected-car>

                <book-demo class="--padding-x"></book-demo>
              </div>
            <car-form *ngIf="context==='select-car'" [regNo]="selectedCar ? selectedCar.regNo :'' "
              (carReady)="goToDashboard($event)"></car-form>
            <div *ngIf="context==='plan' && selectedPlan">
              <selected-car [car]="selectedCar" (changeCar)="resetCar()"></selected-car>
              <plan-details [activeFeature]="activeFeature" [hideCta]="true" [plan]="selectedPlan" (changePlan)="goToDashboard()">
              </plan-details>
              <ng-container *ngIf="!viewPlanOnly">
                  <addon-slider [plan]="selectedPlan" [bodyType]="selectedCar.bodyType" (showDetails)="openAddon($event)" (addonSelected)="onAddonSelect($event)" [selectedAddons]="includedAddons"></addon-slider>
              
                  <adhoc-slider [bodyType]="selectedCar.bodyType" [plan]="selectedPlan" [selectedAdhocs]="includedAdhocs" (adhocSelected)="onAdhocSelect($event)" (showDetails)="openAddon($event)"></adhoc-slider>
    
              </ng-container>

              <cta text="Proceed To Checkout"  *ngIf="!viewPlanOnly" [sticky]="true" (action)="goToCheckout()"></cta>
              <cta text="Back To Dashboard" *ngIf="viewPlanOnly" [sticky]="true" (action)="goBack()"></cta>

            </div>
            <div *ngIf="context==='adhoc' && selectedAdhoc">
              <selected-car [car]="selectedCar" (changeCar)="resetCar()"></selected-car>
              <addon-details [adhoc]="selectedAdhoc" (changeAddon)="goToDashboard()" (sendScheduleLater)="goToCheckout()" (scheduleDate)="setDateForAdhoc($event)">
              </addon-details>
              <cta text="Proceed To Checkout" [disabled]="dateError" [sticky]="true" (action)="goToCheckout()"></cta>
            </div>
            <div  *ngIf="context==='addon' && selectedAddon">
                <selected-car [car]="selectedCar" (changeCar)="resetCar()"></selected-car>
                <addon-details  [addon]="selectedAddon" (changeAddon)="goToDashboard()" (sendScheduleLater)="goToCheckout()" (scheduleDate)="setDateForAdhoc($event)">
                </addon-details>
                <cta text="Proceed To Checkout" [sticky]="true" (action)="goToCheckout()"></cta>
            </div>
            <app-service-page *ngIf="context==='service'" [payments]="payments">

            </app-service-page>
          </ng-container>
          <spinner *ngIf="!ready" color="blue"></spinner>

        </div>

      </div>
    </div>
  </div>
</ion-content>