@import 'src/variables.scss';

.plan-name {
    color: $secondary-color;
}

.plan-info {
  text-align: center;
  position: relative;
  z-index: 2;

  .second-car {
    z-index: 2;
    font-size: 14px;
    padding: 0 0 10px 0px;
    left: -30px;
    color: orange;
  }
}

.plan-notes {
  margin: 0 0 10px 0;
  .note {
    color: gray;
    display: block;
    font-style: italic;
  }
}

mat-expansion-panel {
  margin: 0 0 10px;
  border-radius: 10px !important;
  border: 1px solid #00a4a729;
  width: 100%;
  box-shadow: none !important;

  &.mat-expanded {
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    mat-expansion-panel-header {
      margin-bottom: 10px;
    }
  }

  mat-expansion-panel-header {
    padding: 35px 18px;
   

    &.mat-expanded {
      background: aliceblue;
      .frequency {
        color: $primary-color;
      }
    }
  }
  .feature {
    color: $primary-color;
    font-weight: 400;
  }
  .frequency {
    color: $secondary-color;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
  }
}

.mat-expansion-panel-content {
  padding-top: 10px !important;
}

.feature {
  width: 96%;
margin-bottom: 5px;


.name,.frequency {
  display: inline-block;
}

}

.frequency {
  color: $secondary-color;
}

.price {
  color: $primary-color;
  font-size: 150%;
}

.old-price {
  color: gray;
  font-size: 100%;
  margin-right: 10px;
  text-decoration: line-through;
  /* margin-left: -5.5em; */
  left: 18px;
  position: relative;
}

.plan-container {
  margin-bottom: 1em;

  &.compact {
    width: 116%;
    padding: 0;

    mat-panel-title:last-of-type {
      .feature {
        border-bottom: none;
      }
      
    }

    .feature {
      .name {
        display: inline-block;
        max-width: 190px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;

        @media screen and (min-width: 400px) {
          max-width: 235px;
        }
      }
    }
  }
}



















ion-content {
    ion-card {
  
      
      
      box-shadow: 100px;
      border-radius: 30px;
      margin: 29px 0;
  
      ion-col {
        ion-img {
          position: relative;
          bottom: 36px;
          width: 120px;
        }
  
        
        
      }
  
      .drop{
        
        background-color:#00A4A7
        
      }
  
     
      
  
  
  
      .mask {
        img {
          width: 240px;
          position: absolute;
          top: 20px;
          bottom: 0px;
          left: 40px;
          mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
      
        }
      }
  
      ion-badge {
        margin-top: 50px;
        background: rgba(0,0,0,.08);
      }
  
      ion-card-title {
        font-weight: 800;
        font-size: .8rem;
      }
      .font
      {size: 8rem;}
  
      .no {
        color: rgba(0,0,0,.66);
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
  