<div class="plan-container --padding-x" [class.compact]="compact">
  <div class="plan-info">
    <h2 #pageTop><span class="plan-name">{{plan.name}}</span> Monthly Plan </h2>
    <p>
      <span class="price" Rs> {{plan.price}}</span> for 1 month.
    </p>
  </div>
  <div *ngIf="compact" class="">
    <mat-panel-title *ngFor="let feature of currentFeatures">
      <div class="feature">
        <div class="name">
            {{feature.name}}
        </div>
        <div class="float-right --no-padding frequency">
            <span class="float-right "> {{feature.frequency}}</span>
        </div>
        
      </div>
  </mat-panel-title>
  </div>
  <mat-accordion *ngIf="!compact">
      <mat-expansion-panel class = "drop" id="{{feature.code}}"  *ngFor="let feature of currentFeatures" [expanded]="feature.code == activeFeature" >
        <mat-expansion-panel-header class = "drop">
          <mat-panel-title>
              {{feature.name}}
          </mat-panel-title>
          <mat-panel-description class = "drop">
              
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="frequency">{{feature.frequency}}</p>

        {{feature.description}} 
       
        
      </mat-expansion-panel>
    </mat-accordion>

  <!-- <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let feature of currentFeatures">
      <div class="card-header" [id]="'heading' + feature.code">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#' + feature.code"
            aria-expanded="true" [attr.aria-controls]="feature.code">
            {{feature.name}}
          </button>
        </h2>
      </div>

      <div [id]="feature.code" class="collapse show" [attr.aria-labelledby]="'heading' + feature.code" data-parent="#accordionExample">
        <div class="card-body">
         {{feature.description}} <br/> <br/>
         <span class="float-right"></span>
         <br/>
        </div>
      </div>
    </div>
  </div> -->

  <cta  *ngIf="!hideCta && !compact" text="Checkout" [sticky]="true"  (action)="sendCheckout()"></cta>

</div>






















<!-- <ion-content fullscreen="true">
  
  <div class="ion-padding">
    <div   [class.mat-elevation-z12]="isActive">
    <ion-card    color="white">
      <div class="mask">
        <img src="assets/p.png">
      </div>
      <ion-card-content>
        <ion-row  >
          <ion-col size="4">
            <ion-card-subtitle class="no">Plan</ion-card-subtitle>
            <ion-card-title>Deluxe</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flash"></ion-icon>
                Petrol
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4.1">
            <div class="font">
              
            <ion-card-subtitle class="no">Type</ion-card-subtitle><br>
            <ion-card-subtitle class="no">premium hatchback</ion-card-subtitle>
          </div>
          </ion-col>
        
        <ion-col size="3.5">
          <ion-card-subtitle  class="no">Amount</ion-card-subtitle><br>
          <ion-card-subtitle class="no">950</ion-card-subtitle>
          
        </ion-col>
        </ion-row>
        
      </ion-card-content>
      <mat-accordion>
        <mat-expansion-panel class = "drop">
          <mat-expansion-panel-header class = "drop">
            <mat-panel-title>
              GST
            </mat-panel-title>
            <mat-panel-description class = "drop">
              Know More
            </mat-panel-description>
          </mat-expansion-panel-header>
          Panel Content
        </mat-expansion-panel>
      </mat-accordion>
    </ion-card>

    </div>
  </div>
</ion-content> -->

