<div class="row">
  <div class="col-12">
    <button type="button"
        [disabled]="disabled" 
        [ngClass]="{
          'btn cta btn-lg btn-block': true ,
        'btn-primary' : !outline,
        'btn-main' : sticky,
        'btn-xs btn-small': small,
        'btn-lg btn-block': !small,
        'disabled': disabled,
          'btn-outline-secondary': outline}"

        [style.fontSize.px]="size"
        (click)="onCtaClick()">
        <ion-icon *ngIf="hasIcon" [name]="icon"></ion-icon>
      <span *ngIf="!loading">
        {{text}}
      </span>
      <span *ngIf="loading">
        <spinner slim="true"></spinner>
      </span>
    </button>
    <div *ngIf="subtext" class="col-12 subtext">
      {{subtext}} <span class="secondary-cta">{{secondaryCta}}</span>
    </div>
  </div>
</div>