@import "src/variables.scss";

.cta {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 14px;
    border-color:transparent;
    letter-spacing: 1.5px;
}

.cta.btn-primary {
    background: transparent linear-gradient(180deg, #00A4A7 0%, #009295 22%, #005254 100%) 0% 0% no-repeat padding-box;
}

.pill {
    font-size: 14px !important;
    border-radius: 20px;
    margin-bottom: -10px;
}

.slim {
    margin-top: 5px !important;
    font-size: 14px !important;
    padding: 1px 20px !important;
}


.tiny {
    margin: 0;
    right: 1em;
    position: relative;
    font-size: 12px !important;
//     background: transparent linear-gradient(
// 180deg
// , #ff9800 5%, #ec6b1e 22%, #0cb5b9 100%) 0% 0% no-repeat padding-box !important; 
}
.normal-text {
    text-transform: none
}

.capital-text {
    text-transform: capitalize;
}

.btn-red {
    color:red !important;
    border-color: red !important;
}

.cta.btn-outline-secondary {
    border: 1px solid $primary-color;
    color: white;
    background: #00A4A7 0% 0% no-repeat padding-box;

    &:hover &:active {
        background: $secondary-color;
        color: $bg-white;
    }
}

.subtext {
    text-align: center;
    margin-top:0.5em;
    .secondary-cta {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
    }
}

.blanket {
    width: 100%;
    height: 46px;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.halfWidth {
    width: 50% !important;
    margin: 0 auto;
    position: relative !important;
    float: none;
    bottom: 0 !important;
    top: 10px;
    border-radius: 15px !important;
}

.btn-main {
    position: fixed !important;
    bottom: 0 !important;
    z-index: 10;
    border-radius: 0;
    left: 0 !important;
    width: 98%;
    left: 1% !important;
    bottom: 0.5% !important;
    top: unset !important;

    &.halfWidth {
        left: 25% !important;
    }

    &.disabled {
        pointer-events: none;
    }
}

.btn-small {
    font-size: 18px;
    border-radius: 14px;
    letter-spacing: 2px;
}