@import "src/variables.scss";

.cta {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 18px;
    border-color:transparent;
}

.cta.btn-primary {
    background: $primary-color;
}

.cta.btn-outline-secondary {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
        background: $secondary-color;
        color: $bg-white;
    }
}

.subtext {
    text-align: center;
    margin-top:0.5em;
    .secondary-cta {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
    }
}

.btn-main {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;

    &.disabled {
        background: $cta-disabled-color;
    }
}

.btn-small {
    font-size: 18px;
    border-radius: 14px;
    letter-spacing: 2px;
}