@import 'src/variables.scss';

.discount-value {
    position: relative;
    margin-left: -30px;
    font-size: 16px;
}

.carRegNo {
    span {
        margin-right: 5px;
    }
}

.headers-top {

    display: block;
    height: 50px;
    background-color:$primary-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: 18px;
    color: white;
    left: 0;
    padding: 10px;

    .text-right {
        margin-left: 25px;
    }

    .col-1 {
        font-size: 22px;
        margin-top: -2px;
    }

}

.header-row {
    color: $primary-color;
    font-size: 140%;
}

.addon-title {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.water {
    color: green;
    font-size: 20px;
    margin-right: 7px;
    position: relative;
    top: 4px;
}

.upgrade-options {
    position: relative;
    top: -4px;
    margin-left: 4px;
}

.addon-price {
    top: 5px;
}

.upgrade-price {
}

.content-row {
    margin-top: 10px;
    color: gray;
    font-size: 120%;

    ion-icon {
        font-size: 26px;
        color: $primary-color;
        margin-right: 10px;
    }

    .text-center {
        text-align: right !important;
        padding-right: 25px;
    }

    .badge-danger {
        font-size: 10px;
        margin: 0 0 0px 6px;
        position: relative;
        opacity: 0.8;
    }
    
}

.small-text {
    font-size: 16px !important;
}

.big-icon, .big-icon2 {
    position: relative;
    top: -2px;
    font-size: 26px;
    color: $primary-color;
    margin-right: 10px;

    &.icon-wallet, &.icon-coupon &.icon-car, &.icon-calendar {
        font-size: 22px !important;
    margin-right: 14px !important;
    left: 3px;
    top: -1px;
    }

}

mat-select {
    width: 65px;
    border-bottom: dashed $secondary-color;
}

.body-type {
    text-transform: uppercase;
    text-align: right;
    padding-right: 25px;
}

.addon-info {
    --padding-start: 0;
    --padding-end: 0;
    width: 105%;
}

.tax-row {
    font-size: 80%;
}

.icon-text {
    font-size: 16px;
}

.card-container{
    background: $primary-color;
    padding: 0;
    margin-bottom: 1em;
    border-radius: 25px;
    border: 2px solid $primary-color;

    .top{
        background: white;
        padding: 15px;
        border-radius: 25px;
    }

    .bottom {
        background: $primary-color;
        margin-top: 1em;
        color:white;
        padding: 15px;
        padding-top: 0;
        font-size: 16px;
        
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }
}