<div class="schedule-list">

    <div class="alert" [class.alert-light]="i>0" [class.alert-primary]="i==0" role="alert" *ngFor="let service of history; let i = index">
        <div class="row">
            <div class="col-4 ">
                <span class="day vertical-center-text">{{service.date}}</span><br/>
            </div>
            <div class="col-8">
                <span class="task">
                    {{service.body}} 
                </span>
            </div>
          </div>
    </div>
  </div>

<!-- 
 
  <div class="rows">
    <div class="row">
      <div class="col-4 day">
        Tuesday
      </div>
      <div class="col-8 task">
        Cleaning + Sanitization
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Wednesday
      </div>
      <div class="col-8 task">
        Cleaning
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Thursday
      </div>
      <div class="col-8 task">
        Water Wash
      </div>
    </div>

    <div class="row">
      <div class="col-4 day">
        Friday
      </div>
      <div class="col-8 task">
        Cleaning + Battery Check
      </div>
    </div>
  </div> -->
