<div class="schedule-list">

    <heading text="Read Notifications can be found here." *ngIf="!history || history.length == 0"></heading>
    <div class="alert alert-light" role="alert" *ngFor="let service of history; let i = index">
        <div class="row">
            <div class="col-2 --no-padding">
                <span class="day vertical-center-text">{{service.date}}</span><br/>
            </div>
            <div class="col-3 --no-padding">
              <img [src]="service.data.car.image" />
          </div>
            <div class="col-7 --no-padding-right">
                <span class="task">
                    {{service.body}} 
                </span>
            </div>
          </div>
    </div>
  </div>

<!-- 
 
  <div class="rows">
    <div class="row">
      <div class="col-4 day">
        Tuesday
      </div>
      <div class="col-8 task">
        Cleaning + Sanitization
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Wednesday
      </div>
      <div class="col-8 task">
        Cleaning
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Thursday
      </div>
      <div class="col-8 task">
        Water Wash
      </div>
    </div>

    <div class="row">
      <div class="col-4 day">
        Friday
      </div>
      <div class="col-8 task">
        Cleaning + Battery Check
      </div>
    </div>
  </div> -->
