@import 'src/variables.scss';

.mobile-input {
    margin-top: 8px;
    label {
        color: $primary-color;
        font-weight: 500;
        margin-bottom:0;
        font-size: 16px;
    }

    input {
        border: none;
        border-bottom: 1px solid $primary-color;
        border-radius: 0;
        height: 22px;
        font-size: 16px;
        background: transparent;
        text-transform: capitalize;
        color: $bg-black;
    }

    .error-field {
        border-bottom: 1px solid red;
        width: 100%;
    }

    .readonly {
        border: none;
        border-bottom: 1px solid $primary-color;
        background: transparent;
        width: 100%;
        color: gray;
        min-height: 20px;
    }

    .mobile-label {
        text-align: center;
        color: gray;
    }

    .red {
        color: red;
    }

    .error-msg {
        color: #6f6666;
        margin-top: 8px;
        border-bottom: none;
        font-weight: 300;
    }

    .not-mobile, .input-group-text {
        padding:0;
        height: 22px;
        font-size: 14px;
    }

    .input-group-text {
        border-bottom: 1px solid $primary-color;
    }

    .mandatory-link {
        color: $secondary-color;
    }

    span {
        border: none;
        //border-bottom: 1px solid $primary-color;
        background: transparent;
        border-radius: 0;
        color: black;
        padding-left: 0;
    }
}


textarea:focus, input:focus{
    outline: none;
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.clear-text {
    right: -10px;
    position: absolute;
    z-index: 10;
}

ion-icon {
    font-size: 24px !important;
    margin-right: 10px;
    margin-top: -5px;
}