.discount-container {
    position: relative;
    right: -18px;

    ion-label {
        float: right;
        width: 100px;
    }

    .discount-label {
        position: absolute;
        float: none;
        display: block;
        top: 15px;
        margin: 0 auto;
        color: white;
        right: 10px;
    }
}

@import "src/variables.scss";

.spinner {
    position: absolute;
    top: 10px;
    right: 2em
}

.list-notif {

    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;

    .discount-item {
        margin: 0;
        margin-bottom: 10px;
        border: 1px solid #dcc0c075;
        border-radius: 10px;
        padding: 10px;
        background: #c0dcca20;

        .icon-coupon {
            position: relative;
            top: -2px;
            font-size: 20px;
            color: $secondary-color;
            margin-right: 10px;
        }

        &.applied {
            background: #0062861f;
            .applied {
                color: $secondary-color;
            }

            .remove-link {
                color: red;
                text-align: right;
                opacity: 0.9;
                text-decoration: underline;
                float: right;
            }

            .icon-coupon {
                color: $primary-color;
            }

        }

        &.not-eligible {
            pointer-events: none;


            .stand-out {
                opacity: 1;
                font-size: 12px;
                pointer-events: all;

            }

        }

        &.personal {
            box-shadow: 0 8px 6px -8px $primary-color;    
            background: #ec6b1e10;       
        }

        &.society {
            box-shadow: 0 8px 6px -8px $secondary-color;     
            background: #ec6b1e10;     
        }

        .name {
            font-size: 12px;
            color: $primary-color;
        }

        .desc {
            font-size: 12px;
        }
    }

    .divider {
        font-size: 14px;
        background: lighten(orange, 20%);

        ion-label {
            white-space: pre-line;
            font-size: 14px;
        }
    }

    ion-label {
        white-space: pre-line;
        font-size: 12px;
    }

    .new-item {

            margin: 0;

        margin-bottom: 5px;
    }

    .recent-item {
        margin: 0;
        border-bottom: 2px solid gray;
        margin-bottom: 2px;

        &:last-of-type {
            border-bottom: none;
        }
    }

}

.remove-btn {
    position: absolute;
    right: 0;
    top: -1em;
    font-size: 30px;
    color: red;
    border: 4px solid white;
    border-radius: 100px;
}
