<div [class.--padding-x]="!slim">


  <cc-accordion
    [title]="appliedCoupons.length == 0 ? 'Looking For Coupons ?' : 'Coupon Applied : ' + (appliedCoupons[0].unit=='percent' ? '' : 'Rs ') +  appliedCoupons[0].value + (appliedCoupons[0].unit=='percent' ? ' %' : '') + ' OFF !'"
    #couponAccordion>
    <heading *ngIf="availableCoupons.length == 0" text="No Coupons Available Today!"></heading>
    <ion-list class="list-notif">
      <ion-item-group>

        <div class="row discount-item one-edge-shadow applied" [class.personal]="item.validFor=='user'"
          [class.society]="item.validFor=='society'" *ngFor="let item of appliedCoupons">
          <!-- <ion-icon name="close-circle-outline" class="remove-btn" (click)="removeCoupon()"></ion-icon> -->
          <div class="col-12 --no-padding --no-margin">
            <div class="row --no-padding --no-margin">
              <div class="col-8 --no-padding ">
                 
                <ion-icon name="pricetag-outline" class="icon-coupon vertical-center-text"></ion-icon> <span
                  class="name">{{item.name}}</span>
                <br />
                Valid For: <span class="desc">
                  <span *ngIf="item.validFor=='user'"> Just for You</span>
                  <span *ngIf="item.validFor=='society'"> Your Society</span>
                  <span *ngIf="item.validFor=='all'">All</span>
                </span> <br />
                

              </div>
              <div class="col-4 --no-padding bold discount-container">
                <ion-label>
                  <img src="assets/icons/discount.png" />
                  <div class="discount-label">
                    <span *ngIf="item.unit!='percent'"> &#8377; {{item.value}} OFF</span>
                    <span *ngIf="item.unit=='percent'">{{item.value}} % OFF</span>
                  </div>
                </ion-label>
              </div>
              <div class="col-12 --no-padding">
                <div class="row --no-margin">
                  <div class="col-6 --no-padding">
                      <span class="applied">APPLIED </span>
                  </div>
                  <!-- <div class="col-6 --no-padding" (click)="onRemoveCoupon()">
                      <span class="remove-link">REMOVE</span>
                  </div> -->
                </div>
                 
              </div>

            </div>
          </div>

        </div>

        <div class="row discount-item one-edge-shadow" [class.personal]="item.validFor=='user'"
          [class.society]="item.validFor=='society'" [class.not-eligible]="!isCouponEligible(item)"
          *ngFor="let item of filteredCoupons" (click)="applyCoupon(item)">
          <div class="col-12 --no-padding --no-margin">


            <div class="row --no-padding --no-margin" [class.--low-opacity]="!isCouponEligible(item)">
              <div class="col-8 --no-padding ">
                  
                <ion-icon name="pricetag-outline" class="icon-coupon vertical-center-text"></ion-icon> <span
                  class="name">{{item.name}}</span>
                  <spinner *ngIf="loading[item.code]" class="spinner" [color]="'blue'"></spinner>
                <br />
                Valid For: <span class="desc">
                  <span *ngIf="item.validFor=='user'"> Just for You</span>
                  <span *ngIf="item.validFor=='society'"> Your Society</span>
                  <span *ngIf="item.validFor=='all'">All</span>
                </span> <br />

              </div>
              <div class="col-4 --no-padding bold discount-container">
                <ion-label>
                  <img src="assets/icons/discount.png" />
                  <div class="discount-label">
                    <span *ngIf="item.unit!='percent'"> &#8377; {{item.value}} OFF</span>
                    <span *ngIf="item.unit=='percent'">{{item.value}} % OFF</span>
                  </div>
                </ion-label>
              </div>

            </div>

            <div class="row --no-padding --no-margin">
              <div class="col-12 --no-padding">
                <span class="stand-out"  (click)="sendToAddons()">Minimum Cart Value : <span class=""><span
                      Rs>{{item.minCartValue}}</span></span></span>
                      <br />
                <div *ngIf="!isCouponEligible(item)">
                  
                  <span class="stand-out" (click)="sendToAddons()"> Try an <span class="highlight">Addon</span> ?
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ion-item-group>
    </ion-list>
  </cc-accordion>

</div>