@import 'src/variables.scss';

.indicator-container {
    

    .bar {
        display: block;
        border-radius: 1000px;
        border: solid 5px $primary-color;
        width: 70px;
        height: 70px;
        padding-top: 20px;
        
    }

    .title {
        color: $primary-color;
    }
}