<mat-card class="card animate__animated animate__headShake">
  <div class="card-body card-top">
    <h5 class="card-title" [style.color]="color" (click)="onShowDetails()"> {{plan.name}} </h5>
    <h6 class="monthly-label">MONTHLY PLAN</h6>

  </div>
  <p class="card-text">
      <span class="price" Rs (click)="onShowDetails()">{{ plan.pricing[bodyType] }}</span>
      <br />
      <span></span>
    </p>
  <div class="card-body feature-list">
   
    <list limit="6">
      <div class="row feature-row" *ngFor="let ftr of currentFeatures">
        <div class="col-1 text">
          <ion-icon slot="start" [style.color]="colors[ftr.weight - 1]" class="ion-color-yellow" name="star"></ion-icon>
        </div>
        <div class="col-10">
          {{ftr.name}}
        </div>


      </div>
    </list>
  </div>

  <div class="card-body actions-row">
    <div class="row">
      <div class="col-12">
        <cta text="Plan Details" (action)="onShowDetails()" [outline]="true"></cta>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <cta text="Buy Now" (action)="onBuy()"></cta>
      </div>
    </div>
  </div>
</mat-card>