<div class="card animate__animated animate__bounceInDown">
  <img class="card-img-top" src="assets/banner1.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> {{plan.name}} </h5>
    <p class="card-text">
      <span> <span>&#8377;</span> {{ plan.price }}</span>
      <br />
      <span></span>
    </p>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Feature 1 : Daily</li>
      <li class="list-group-item">Feature 2 : Twice a Week</li>
      <li class="list-group-item">Feature 3 : Once a Month</li>

    </ul>
  </div>
</div>