@import 'src/variables.scss';

.card {
    border-radius: 30px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 225px;
    min-height: 200px;



    .card-top {
        background: transparent linear-gradient(134deg, #00A4A7 0%, #009295 22%, #005254 100%) 0% 0% no-repeat padding-box;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: white;
        margin-bottom: 6px;
        padding: 20px 0 0px;
        border-bottom: 5px solid;
    }

    .card-img-top {
        width: 50%;
        margin: 0 auto;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;
    }

    .card-title {
        color: white;
        font-size: 18px;
        //text-transform: uppercase;
        letter-spacing: 2px;

    }

    .upgrade-section {
        ion-icon {
            color: $secondary-color;
            font-size: 24px;
        }
    }

    .monthly-label {
        position: relative;
        letter-spacing: 2px;
        top: -10px;
        margin-bottom: 2px;
    }

    .actions-row {
        padding: 0 25px 10px;
    }

    .price {
        color: $primary-color;
        font-size: 18px;

        .rs {
            color: $secondary-color;
        }

        .permonth {
            font-size: 18px;
        }
    }

    .old-price {
        color: gray;
        font-size: 70%;
        margin-right: 10px;
        margin-left: -60px;
        text-decoration: line-through;
      }

    .feature-list {
        text-align: left;
        font-size: 16px;
        padding: 0 15px;
        margin-top: -8px;

        .list-container {
            height: 150px;
            overflow-y: auto;
        }

        .feature-row {
            margin-bottom: 0px;
            font-size: 12px;

            ion-icon {

                color: $secondary-color;
            }
        }

        .frequency {
            color: gray;
            position: relative;
            font-size: 14px;
            text-align: right;
        }
    }

    .gray {
        color: gray;
        line-height: 40px;
    }
}
