@import 'src/variables.scss';

.card {
    .card-img-top {
        width: 50%;
        margin: 0 auto;
    }

    .card-title {
        color: $secondary-color;
        font-size: 24px;
    }

    .price {
        color: $primary-color;
        font-size: 22px;

        .rs {
            color: $secondary-color;
        }
    }

    .feature-list {
        text-align: left;
        font-size: 16px;

        .list-container {
            height: 150px;
            overflow-y: auto;
        }

        .feature-row {
            margin-bottom: 10px;

            ion-icon {

                color: $secondary-color;
            }
        }

        .frequency {
            color: gray;
            position: relative;
            font-size: 14px;
            text-align: right;
        }
    }

    .gray {
        color: gray;
        line-height: 40px;
    }
}
