@import 'src/variables.scss';

div{
align-content: center;
align-self: center;

}
.input{
    border-color: '#eee';
    border-radius: 10px;
    border-width: 1px;
}
p{
    align-self: center;
}

.login-content {
    background: $bg-gray;
    height: 90vh;
}