@import 'src/variables.scss';


.input{
    border-color: '#eee';
    border-radius: 10px;
    border-width: 1px;
}
p{
    align-self: center;
}

.login-content {
    background: $bg-gray;
    height: 100%;
    min-height: 100vh;

}