<selected-car *ngIf="currentCar && isCarSelected" [car]="currentCar" (changeCar)="resetCar()"></selected-car>

<ads-list></ads-list>
  <div class="row">
    <div class="col-md-6 col-xs-12" [class.col-md-12]="isCarSelected">


      <ng-container *ngIf="isCarSelected">

        <ng-container>
          <heading slim="true" capitalize="true" text="SUBSCRIPTION PLANS" align="center"></heading>
          <div class="row --no-margin">
            <div class="col-12 text-center duration-container">
                 <switch (toggle)="onDurationToggle($event)"></switch>  
            </div>
          </div>

          <plan-slider #planSlider [plans]="currentPlans" [bodyType]="currentCar.bodyType" (showDetails)="onShowDetails($event)"
            (buyNow)="buyPlan($event)"></plan-slider>

          <addon-slider  [bodyType]="currentCar.bodyType" [selectedAddons]="includedAddons" (addonSelected)="onAddonSelect($event)" (showDetails)="openAddon($event)"></addon-slider>
          <adhoc-slider  [bodyType]="currentCar.bodyType" [selectedAdhocs]="includedAdhocs" (adhocSelected)="onAdhocSelect($event)"></adhoc-slider>

          <book-demo></book-demo>

        </ng-container>


      </ng-container>

    </div>
  </div>

<router-outlet></router-outlet>