@import 'src/variables.scss';

.container {
    background: $bg-white;
    border-radius: 25px;
    padding: 25px;
    margin-top: 2em;

    @media screen and (max-width: 768px) {
        margin-top: 5em;
    }

    .page-logo {
      width: 100%;
      margin-bottom: 10px;
    }

    .car-info {
      top: 42px;
      position: relative;
    }
}

.addon-card {

  box-shadow: 0 8px 6px -6px black;

  .card-body {
    padding-top: 0;
  }

  .card-text {
    min-height: 65px;
    display: block;
    max-height: 65px;
    width: 88px;
  }

  .rate {
    color: $secondary-color;
  }
}



ion-slides {
    height: 100%;
  }

  ion-badge {
    padding: 28px 0;
    border-radius: 18px;
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
    width: 100%;
    text-align: center;
  }
  
  .poster-col {
    padding-top: 30px;
    height: 100px;
    img {
      border-radius: 10px;
    }
  }