<div class="row">
  <div class="col-12">
    <span *ngIf="noCar">Car Registration Number Empty</span>
    <div *ngIf="!noCar">
      <div *ngIf="loading">
        <spinner color="blue"></spinner>
        <br />
        <typeaway *ngIf="entry.begin" text="Contacting Server...." delay="2000" (finished)="entry.fetch = true;">
        </typeaway>
        <br />
        <typeaway *ngIf="entry.fetch" text="Fetching details from Server...."></typeaway>

      </div>
      <ng-container *ngIf="isCarReady">
        <div *ngIf="!verifyOnly" class="card animate__animated animate__bounceInDown">
          <div class="card-body">
            <ng-container *ngIf="vehicleTypeMismatch">
              <heading text="Uh Oh! This isn't a Car." color="red">
                  <subheading text="Vehicle Class : {{carDetails.vehicleType}}" slim="true" color="black"></subheading>
              </heading>
             
            </ng-container>

            <p class="card-text">
              <span>You're driving a {{carDetails.year}} {{carDetails.model}}</span>
              <br />
              <span></span>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maker : {{carDetails.maker}}</li>
            <li class="list-group-item">Fuel : {{carDetails.fuelType}}</li>
            <li class="list-group-item">Registeration Date: {{carDetails.registeredOn}} </li>
          </ul>
          <div class="card-body">
            <cta *ngIf="!vehicleTypeMismatch" text="Show me my Plans" (action)="sendAction()"></cta>
            <p *ngIf="vehicleTypeMismatch" class="card-text">
                <span>Please Try Again with a valid Car Registration Number!</span>
            </p>
          </div>
        </div>

        <div *ngIf="verifyOnly" class="card animate__animated animate__bounceInDown">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maker : {{carDetails.maker}}</li>
            <li class="list-group-item">Model : {{carDetails.model}}</li>
            <li class="list-group-item">Body Type: {{carDetails.bodyType}} </li>
          </ul>
          <p *ngIf="vehicleTypeMismatch" class="card-body">
              <span>The Registration Number doesn't belong to a Car. Please Try Again with a valid Car Registration Number!</span>
          </p>
        </div>


      </ng-container>
    </div>
  </div>
</div>