<div class="row">
  <div class="col-12">
    <span *ngIf="noCar">Car Registration Number Empty</span>
    <div *ngIf="!noCar">
      <div *ngIf="loading">
        <spinner color="blue"></spinner>
        <br />
        <typeaway *ngIf="entry.begin" text="Contacting Server...." delay="2000" (finished)="entry.fetch = true;">
        </typeaway>
        <br />
        <typeaway *ngIf="entry.fetch" text="Fetching details from Server...."></typeaway>

      </div>
      <ng-container *ngIf="isCarReady">
        <div *ngIf="!verifyOnly" class="card animate__animated animate__bounceInDown">
          <div class="card-body">
            <h5 class="card-title"> {{carDetails.name}} </h5>
            <p class="card-text">
              <span>You're driving a {{carDetails.year}} {{carDetails.model}}</span>
              <br />
              <span></span>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maker : {{carDetails.maker}}</li>
            <li class="list-group-item">Fuel : {{carDetails.fuelType}}</li>
            <li class="list-group-item">Registeration Date: {{carDetails.registeredOn}} </li>
          </ul>
          <div class="card-body">
            <cta text="Show me my Plans" (action)="sendAction()"></cta>
          </div>
        </div>

        <div *ngIf="verifyOnly" class="card animate__animated animate__bounceInDown">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maker : {{carDetails.maker}}</li>
            <li class="list-group-item">Model : {{carDetails.model}}</li>
            <li class="list-group-item">Body Type: {{carDetails.bodyType}} </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>