<div class="row">
  <div class="col-12">
    <!-- <span *ngIf="noCar">Please Enter a Valid Registration Number</span> -->
    <div *ngIf="!noCar">
      <div *ngIf="loading">
        <spinner color="blue"></spinner>
        <br />
        <typeaway *ngIf="entry.begin" text="Contacting Server...." delay="2000" (finished)="entry.fetch = true;">
        </typeaway>
        <br />
        <typeaway *ngIf="entry.fetch" text="Fetching details from Server...."></typeaway>

      </div>
      <ng-container *ngIf="isCarReady">
        <div *ngIf="!verifyOnly" class="card animate__animated animate__bounceInDown">
          <div class="card-body"  *ngIf="vehicleTypeMismatch">
            <ng-container>
              <heading text="Uh Oh! This isn't a Car." color="red">
                  <subheading text="Vehicle Class : {{carDetails.vehicleType}}" slim="true" color="black"></subheading>
              </heading>
             
            </ng-container>


          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Maker : {{carDetails.maker}}</li>
              <li class="list-group-item">Model : {{carDetails.model}}</li>
            <li class="list-group-item">Body Type : {{carDetails.displayLabel}}</li>
            <!-- <li class="list-group-item">Fuel : {{carDetails.fuelType}}</li> -->
            <!-- <li class="list-group-item">Registration Date: {{carDetails.registeredOn}} </li> -->
          </ul>
          <div class="card-body" *ngIf="vehicleTypeMismatch">
            <p  class="card-text">
                <span>Please Try Again with a valid Car Registration Number!</span>
            </p>
          </div>
        </div>
        <div class="row" *ngIf="!verifyOnly && !vehicleTypeMismatch">
          <div class="offset-3 col-6">
              <cta align="center" pill="true" text="Show Plans" (action)="sendAction()"></cta>

          </div>
        </div>

        <div *ngIf="verifyOnly" class="card animate__animated animate__bounceInDown">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maker : {{carDetails.maker}}</li>
            <li class="list-group-item">Model : {{carDetails.model}}</li>
            <li *ngIf="!vehicleTypeMismatch" class="list-group-item">Body Type: {{carDetails.displayLabel}} </li>
          </ul>
          <p *ngIf="vehicleTypeMismatch" class="card-body">
              <span>The Registration Number doesn't belong to a Car. Please Try Again with a valid Car Registration Number!</span>
          </p>
        </div>


      </ng-container>
    </div>
  </div>
</div>