<ion-content>
  <div class="container-fluid">
    <div class="row thanks-content">
      <div class="offset-md-2 col-md-8">
        <div class="container">

          <img class="success-img" src="./assets/icons/success.png" />

          <heading text="Thanks!" align="center" color="#00a4a7"></heading>
          <heading text="Payment Successfull!" align="center" color="gray"></heading>

          <div class="bottom">
            <div class="divider">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>

            </div>
            <ng-container *ngIf="startDate && payment">
              <div class="row">
              <div class="col-12">
                <span>Date</span><br />
                <span>{{startDate}}</span>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-12">
                <span>Receipt</span><br />
                <span>{{'CCUBE_VVSH'}}</span>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-12">
                <span>Net Payment</span><br />
                <span Rs >{{order.total}}</span>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-12">
                <span>The Invoice will be emailed to you within a short while.</span>
              </div>
            </div>

            <cta text="Go To Dashboard" (action)="goToDashboard()"></cta>
            </ng-container>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>