<!-- {{documents[0].name}} {{!!documents[0].image}} {{documents[0].localUrl}}<br/>
{{documents[1].name}} {{!!documents[1].image}} {{documents[1].localUrl}}<br/>
{{documents[2].name}} {{!!documents[2].image}} {{documents[2].localUrl}}<br/>
{{documents[3].name}} {{!!documents[3].image}} {{documents[3].localUrl}}<br/> -->
<ion-slides #slider [options]="options">

  <ion-slide *ngFor="let doc of documents; let i = index;">
    <mat-card class="card addon-card animate__animated animate__flipInX" (click)="openFile(doc, i)">
      <!-- <div class="card-bg-top top-{{i}}" [class.no-image]="!doc.image" ></div> -->
      <img  *ngIf="!isImageSelected(doc)"class="card-img-top" [src]="'assets/icons/document.png'"
        alt="Card image cap">
        <img *ngIf="isImageSelected(doc)" class="card-img-top" [src]="doc.image">
      <div class="doc-name">
        <div >
          <span class="card-text one-edge-shadow" [class.contrast]="i%2!=0">{{doc.name}}</span>
        </div>
      </div>
    </mat-card>
  </ion-slide>
  <ion-slide (click)="addNewDoc()">
    <mat-card class="card addon-card animate__animated animate__flipInX" >
        <img class="card-img-top " [src]="'assets/icons/document.png'">
        <!-- <ion-icon class="card-icon-top" name="add-circle-outline"></ion-icon> -->
      <div class="doc-name">
        <div >
          <span class="card-text one-edge-shadow" >Add New Document</span>
        </div>
      </div>
    </mat-card>
  </ion-slide>
</ion-slides>

<ng-container *ngIf="addingNewDoc">
  <mobile-input name="Document Name" [(value)]="newDoc.name" type="text"></mobile-input>
  <span note>Name must be Unique"></span>

  <cta  [disabled]="newDoc.name.length == 0" capitalize="true" small="true" pill="true" text="Select File" (action)="addNewDoc(newDoc.name)"></cta>

</ng-container>

<!-- <ion-img-viewer *ngIf="documents[0].image"
  title="Demo" 
  text="Component" 
  scheme="dark" 
  [src]="documents[0].image">
</ion-img-viewer> -->