<div class="row">
    <div class="navbar col-sm-12">
        <div class="row full-width">
          <div class="col-md-3 col-sm-2">
            <a routerLink="/login">
              <img class="app-logo" src="./assets/SSLogo.jpg"/>
            </a>
          </div>
          <div class="col-md-5 col-sm-4">
              <div class="input-group search-box">
                  <input type="text" class="form-control" placeholder="Search Here..." aria-label="Search in SmartSewa" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                      <app-icon name="search"></app-icon>
                    </span>
                  </div>
                </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-6">
                  <app-icon class="cart-icon" name="cart-plus" size="2"></app-icon>
              </div>
              <div class="col-6">
                
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
