<div class="row navbar">
    <div class="col-sm-12">
        <div class="row full-width">
          <div class="col-md-3 col-xs-2">
            <a [routerLink]="['/home']">
              <img class="app-logo" src="./assets/blueLogo.png"/></a>
              
          </div>
          <div class="col-md-5 col-xs-4">
              <!-- <div class="input-group search-box">
                  <input type="text" class="form-control" placeholder="Search Here..." aria-label="Search in SmartSewa" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                      <app-icon name="search"></app-icon>
                    </span>
                  </div>
                </div> ss--> 
                <!-- <typeaway class="title1"  text="Complete Car Care" (finished)="doorstep = true;" ></typeaway>
                <typeaway class="title2" *ngIf="doorstep" text="At your doorstep" (finished)="daily = true;" ></typeaway><br/>
                <typeaway class="title2" *ngIf="daily" text="Daily"  ></typeaway><br/> -->

          </div>
          <div class="col-md-4 col-xs-6">
            <div *ngIf="!isLoggedIn" class="row nav-actions">
              <div class="offset-6"></div>
              <div class="col-3"> <a [routerLink]="['\signup']">Signup</a></div>
              <div class="col-3"> <a [routerLink]="['\signup', '\login']">Login</a></div>
             
            </div>
            <div *ngIf="isLoggedIn" class="row nav-actions">
              <div class="offset-10 col-2">
                <div class="btn-group">
                  <button type="button" class="btn btn-user btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span><ion-icon class="icon-user" name="person-circle-outline"></ion-icon></span>
                    <span>
                      {{currentUser.name.split(' ')[0]}}
                    </span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button" (click)="goTo(['dashboard'])">Go To Dashboard</button>
                    <button class="dropdown-item" type="button">Profile</button>
                    <button class="dropdown-item" type="button">Settings</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="logoutUser()" type="button">Logout</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
