@import "src/variables.scss";

#top {
  margin-top: -2em;
  max-height: 145px;

  &.slim {
    max-height: 115px;
  }
}

.page-logo {
    width: 100%;
    margin-bottom: 14px;
    margin-top: -4px;
  }

  .change-car-link {
    top: -10%;
    position: relative;
    font-weight: 500;
    left: 40%;
    color: $secondary-color;
  }

  .car-info {
    top: 35px;
    position: relative;
    font-size: 16px;

    &.slim {
      top: 20px;
    }

    .plan-comparison-link {
      color: $secondary-color;
      font-size: 80%;
    }

    .maker {
      text-transform: uppercase;
      font-size: 80%;
      color: #627d7d;
    }


    .displayType {
      font-size: 80%;
      color: #627d7d;
    }

    .alert-link {
      font-weight: 400;
      font-size: 70%;
      color: red;
    }

    .model {
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }