<div class="row" id="top">
    <div class="col-6 --no-padding">
      <!-- <img class="page-logo" src="assets/whitell.png" /> -->
      <img class="page-logo --no-padding" [src]="car.image">
    </div>
    <div class="col-6">

      <div class="row">
        <div *ngIf="car" class="car-info" role="alert">
          <span class="maker">{{car.maker}}</span> <br/> <span class="model">{{car.model}}</span>
          <!-- <span class="alert-link float-right" (click)="resetCar()">Change Car</span> -->
        </div>
      </div>

    </div>
  </div>