<div class="row" id="top" [class.slim]="slim">
  <div *ngIf="showBack" class="col-12">
    <span class="back" (click)="backToDashboard()"><ion-icon name="arrow-back-outline"></ion-icon> Back to Plans</span>
  </div>
    <div class="col-7 --no-padding">
      <!-- <img class="page-logo" src="assets/whitell.png" /> -->
      <img *ngIf="car" class="page-logo --no-padding" [src]="car.image" ><br/>
      <!-- <span *ngIf="showLink" (click)="onChangeCar()" [ngClass]="{'change-car-link float-left animate__animated':true, 'animate__fadeInDown' : showLink}" >Change Car</span> -->
    </div>
    <div class="col-5">

      <div class="row">
        <div *ngIf="car" class="car-info" [class.slim]="slim" role="alert">
          <span class="maker">{{car.maker | lowercase}}</span> <br/> <span class="model">{{car.model}}</span>
          <br/><span class="displayType">{{car.displayLabel || displayType}}</span>
          <!-- <cta small="true" text="Change Car" (action)="onChangeCar()"></cta> -->
          <div *ngIf="!hideRemove" class="alert-link" (click)="onChangeCar()">Change Car</div>
          

        </div>
      </div>

    </div>
  </div>