<ion-app>
  <span id="top" name="topOfPage" style="display:none;">
     
  </span>
  <p><a id="trigger-to-top" href="#top">Jump to Top</a></p>
  <ion-header *ngIf="isMobile">
    <ion-toolbar>
      <ion-title><span> <img src="assets/blueLogo.png"></span></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-navbar *ngIf="!isMobile"></app-navbar>

  <ion-fab *ngIf="!hideBackButton" slot="fixed">
      <ion-fab-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  <ion-router-outlet [class.push-down]="!isMobile" (activate)='onActivate($event)'
  (deactivate)='onDeactivate($event)'></ion-router-outlet>



  <!-- <app-mobile-nav *ngIf="isMobile"></app-mobile-nav> -->
</ion-app>