<ion-app>
  <ion-header *ngIf="isMobile">
    <ion-toolbar>

      <ion-title>    
        <span *ngIf="headerType=='text'" class="header-text">{{headerText}}</span>
        <div *ngIf="headerType=='view'">
          <div class="row" *ngIf="viewData.viewName == 'checkout'">
            <div class="col-5">
              Checkout
            </div>
            <div class="col-7">
              Net Payable: <span Rs>{{viewData.viewOptions.amount}}</span>
            </div>
          </div>
        </div>
        <span *ngIf="headerType==''"><img src="assets/blueLogo.png"></span>
      
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Custom Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-menu side="end" type="push" contentId="main">
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>End Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->

  <app-navbar *ngIf="!isMobile"></app-navbar>

  <ion-fab *ngIf="!hideBackButton" slot="fixed">
      <ion-fab-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  <ion-router-outlet [class.push-down]="!isMobile" (activate)='onActivate($event)'
  (deactivate)='onDeactivate($event)'></ion-router-outlet>



  <!-- <app-mobile-nav *ngIf="isMobile"></app-mobile-nav> -->
</ion-app>