@import 'src/variables.scss';

ion-app {
    background: $primary-color;
    color: white;
}

ion-title {
    height: 56px;
}

ion-toolbar, ion-header, ion-title {
    text-align: center;
    img {
        width: 30%;
    }

    color: white;
    background: $primary-color;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

ion-router-outlet {
    
    margin-top: 0;

    &.push-down {
        margin-top: 60px;
    }

    @media screen and (max-width: 768px){
        margin-top: 0;
    }
}

.header-md::after {
    display: none;
}




