<ion-app>
  <ion-header *ngIf="isMobile">
    <ion-toolbar>

      <ion-title>
        <ion-icon *ngIf="isLoggedIn && ['checkout','confirm', 'thanks'].indexOf(context) < 0" name="menu-outline" class="menu-btn float-left" (click)="toggleMenu()"></ion-icon>

        <span *ngIf="headerType=='text'" class="header-text">{{headerText}}</span>
        <div *ngIf="headerType=='view'">
          <div class="row view-checkout" *ngIf="viewData.viewName=='checkout'">
            <div class="col-4 text">
              Checkout
            </div>
            <div class="col-8 payable">
              Net Payable: <span Rs>{{viewData.viewOptions.amount}}</span>
            </div>
          </div>
          <div class="row" *ngIf="viewData.viewName=='home'">
              <div class="offset-6 col-3">
                <span class="link" (click)="goTo('signup')">Signup</span>
              </div>
              <div class="col-3">
                <span class="link" (click)="goTo('login')">Login</span>
              </div>
            </div>
        </div>
        <span *ngIf="headerType==''"><img src="assets/blueLogo.png"></span>

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="first" contentId="my-content">
    <ion-header class="menu-header">
      <ion-toolbar color="primary">
        <ion-title>
          <div class="row top">
            <div class="col-3">
                <ion-icon name="person-outline"></ion-icon>
            </div>
            <div class="col-9 ">
              <div class="row user-row">
                <div class="col-12">
                  {{currentUser && currentUser.name}}
                </div>
                <div class="col-12">
                  {{currentUser && currentUser.phone}}
                </div>
              </div>
            </div>
            
          </div>
         
        </ion-title>
      </ion-toolbar>
      <ion-icon class="close" name="close-outline" (click)="toggleMenu()" ></ion-icon>
    </ion-header>
    <ion-content>
      <ion-list class="menu-items">

        <ion-item [class.selected]="context==='service'"  (click)="goTo('service')">
          <ion-icon name="home-outline" ></ion-icon> Dashboard
        </ion-item>
        <ion-item [class.selected]="['select-car', 'plan', 'dashboard', 'checkout', 'confirm'].indexOf(context)>-1"  (click)="goTo('dashboard')">
          <ion-icon name="car-sport-outline"></ion-icon> Add New Car
        </ion-item>
        <ion-item [class.selected]="context==='profile'" (click)="goTo('profile')">
          <ion-icon name="person-circle-outline"></ion-icon>Profile
        </ion-item>
        <ion-item (click)="goTo('about-us')">
          <ion-icon name="people-circle-outline"></ion-icon>About Us
        </ion-item>
        <ion-item (click)="goTo('contact-us')">
          <ion-icon name="mail-outline"></ion-icon>Contact Us
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Custom Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-menu side="end" type="push" contentId="main">
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>End Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->

  <app-navbar *ngIf="!isMobile"></app-navbar>

  <!-- <ion-fab *ngIf="!hideBackButton" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-router-outlet id="my-content" [class.push-down]="!isMobile" (activate)='onActivate($event)'
    (deactivate)='onDeactivate($event)'  animated="true"></ion-router-outlet>



  <!-- <app-mobile-nav *ngIf="isMobile"></app-mobile-nav> -->
</ion-app>