@import 'src/variables.scss';

ion-app {
    background: $primary-color;
    color: white;
}

.ion-header {
    background: #00A4A7 0% 0% no-repeat padding-box;
}
.app-header {

    height: 56px;
    padding: 10px;

    .header-text {
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: 400;
    }
}


.view-dashboard, .view-checkout {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
     text-align: center;

    .notif {
        ion-icon {
            font-size: 25px;
            margin-top: -3px;
            margin-right: 14px;
            transition: all 0.2s ease-in;

        }

        .active {
            color: white;
        }
    }

    // .payable {
    //     text-align: right;
    // }

    // .text {
    //     text-align: left;
    // }
}

.view-dashboard {
    position: relative;
    top: 2px;
}

.side-menu {
    --width: 70%;
    //opacity: 0.9;

    ion-content {
        --background: #00A4A7 0% 0% no-repeat padding-box;
    }
}

.notif-badge {
    position: absolute;
    top: -2px;
    left: 14px;
    background: blue;
    border-radius: 25px;
    border: 2px solid white;
    transition: all 2s;
    pointer-events: none;
    opacity: 0;
    height: 12px;
    width: 12px;

    &.show {
        opacity: 1;
    }
}
.menu-btn {
    font-size: 30px;
    bottom: 12px;
    float: left!important;
    left: 15px;
    z-index: 1;
    position: absolute;
}

ion-list {
    background: #00A4A7 0% 0% no-repeat padding-box;
    --background: #00A4A7 0% 0% no-repeat padding-box;
}

.user-profile-image {
    padding: 0;

    img {
        border-radius: 50px;
        margin-top: -9px;
        border: 3px solid white;
    }
}

.menu-items {
    padding-top:0;
    color:white;
    font-size: 22px;
    ion-icon {
        position: relative;
        margin-right: 12px;
        color: white;
        font-size: 22px;
    }

    ion-item {
        --background: #00A4A7 0% 0% no-repeat padding-box;
        color: white;
    }

    .selected {
        ion-icon {
            color: #00A4A7 !important;
        }
        --background: white;
        color: $primary-color;
        ion-icon {
            color:white;
        }
    }
}

ion-toolbar, .ion-header, .ion-title {

        font-family: 'AppFont' !important;
    
    text-align: center;
    img {
        width: 30%;
    }

    color: white;
    background: transparent linear-gradient(-10deg, #00A4A7 0%, #009295 22%, #005254 100%) 0% 0% no-repeat padding-box;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.menu-header {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: $primary-color;

    .close {
        position: absolute;
        right: 8px;
        top: 8px;
        color: white;
        z-index: 10;
    }

    .top {
        left: 0;
        top: 0;
    }

    padding: 2em;

    ion-icon {
        font-size: 30px;
    }

    .user-row {
        text-align:left;
        font-weight: 400;

        .name {
            font-size: 16px;
            margin-bottom: 2px;
        }

        .phone {
            font-size: 14px;
        }
    }
}

ion-router-outlet {
    
    margin-top: 0;

    &.push-down {
        margin-top: 60px;
    }

    @media screen and (max-width: 768px){
        margin-top: 0;
    }
}

ion-fab {
bottom: 15%;
left: 5%;
ion-fab-button {
    --background: #ec6b1e;
}
}

.link {
    font-weight: 300;
    font-size: 18px;

}

.header-md::after {
    display: none;
}

#top-of-page {
    position: absolute;
    top:0;
    left:0;
}



