@import 'src/variables.scss';

ion-app {
    background: $primary-color;
    color: white;
}

ion-title {
    text-align: center;
    img {
        width: 10%;
    }
}

ion-router-outlet {
    
    margin-top: 0;

    &.push-down {
        margin-top: 60px;
    }

    @media screen and (max-width: 768px){
        margin-top: 0;
    }
}