<div class="row">
  <div class="col-12 heading">
    Tips of the Day
  </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="slide-container">
          <div class="row">
            <div class="col-2">
              <div class="circle"></div>
            </div>
            <div class="col-10 info">
              <div class="row">
                  <div class="col-12 title">
                    <span>22 BMI</span>
                  </div>
                  <div class="col-12">
                    <span> 8 JUNE, 2020</span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 tip">
                    <span>A healthy tip related to BMI here</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="slide-container">
            <div class="row">
              <div class="col-2">
                <div class="circle"></div>
              </div>
              <div class="col-10 info">
                <div class="row">
                    <div class="col-12 title">
                      <span>22 BMI</span>
                    </div>
                    <div class="col-12">
                      <span> 8 JUNE, 2020</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 tip">
                      <span>A healthy tip related to BMI here</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>