@import 'src/variables.scss';

.container-fluid {
    background: white;
    color: black;
    overflow-y: scroll;

    .heading {
        margin-top: 1em;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: $secondary-color;
    }

    .price-row {
        margin-bottom: 2em;
    }

    .savings-row {
        padding: 5px;
        > .col-12 {
            border-radius: 40px;
            box-shadow: 2px 3px 5px 2px #ccc;

        }
    }



    .heading-col-1 ,.heading-col-2, .heading-col-3  {
        width: 20%;
        color: $primary-color;
        text-align: center;
    }

    .demoRow {
        text-align: center;
        margin-bottom: 2em;
    }

    table {
        width: 100%;
        margin: 2em 0 1em;

        td {
            text-align: center;
        }

        th {
            padding: 8px;
        }

        .feature-cell {
            text-align: left !important;
            padding: 8px;
        }
    }
}