<!-- <img src="assets/icons/ad.png"> -->



    <ion-slides options="options">
      <ion-slide *ngFor="let ad of ads; let i = index" (click)="selectAd(ad)">
          <div >
              <img [src]="'assets/backgrounds/' + ad.image + '.png'" class="d-block w-100" alt="...">
              <div class="info-container">
                <span class="title">{{ad.title}}</span>
                <p class="desc">{{ad.description}}</p>
              </div>
              <div class="discount-container" [class.contrast]="i%2==1" *ngIf="ad.discount!='null'">
                <span class="discount-label"> Save <span>{{ad.discount}}</span></span>
              </div>
            </div>
      </ion-slide>
    </ion-slides>

