<div class="container">
    <div class="row">
        <div class="col-12">
          <span class="logo-container"><img class="logo " src="./assets/whitell.png" alt="CCubeLogo" border="0" />
          </span>
        </div>
      </div>
  <div class="row">
    <div class="col-12">
      <app-login-form *ngIf="!showLogin || loginOnly" [context]="context" [loginOnly]="loginOnly"></app-login-form>

      <app-signin-form *ngIf="showLogin && !loginOnly"  [context]="context" (forgotPassword)="loginOnly = true;"></app-signin-form>
    </div>
  </div>
</div>