<div class="container">
    <div class="row">
        <div class="col-12" >
          <span class="logo-container"><img class="logo " [routerLink]="['/home']" src="./assets/whitell.png" alt="CCubeLogo" border="0" >
            <br/>Complete Car Care
          </span>
        </div>
      </div>
  <div class="row">
    <div class="col-12">
      <app-login-form #loginForm *ngIf="!showLogin || loginOnly" [context]="context" [loginOnly]="loginOnly"></app-login-form>


      <app-signin-form *ngIf="showLogin && !loginOnly"  [context]="context" (forgotPassword)="loginOnly = true;"></app-signin-form>

      <cta *ngIf="(!showLogin || loginOnly ) && context == 'details'" class="signup-btn" text="Next" [sticky]="true" [loading]="loading" (action)="showNextDetails()" ></cta>
      <cta *ngIf="(!showLogin || loginOnly ) && context == 'details2'" class="signup-btn" text="Create Account" [sticky]="true" [loading]="loading" (action)="createUser()" ></cta>

    </div>
  </div>
</div>