@import 'src/variables.scss';

.container {
    background: $bg-white;
    padding: 25px;
    padding-top: 5em;
    overflow-x: hidden;
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    height: 100vh;

}