@import 'src/variables.scss';

.container {
    background: $bg-white;
    border-radius: 25px;
    padding: 25px;
    margin-top: 2em;

    @media screen and (max-width: 768px) {
        margin-top: 5em;
    }
}