    <heading class="heading" text="UPGRADE YOUR PLAN" size="16" capitalize="true" align="center"></heading>
    <ion-slides clsas="upgrade-slider" [options]="slideOpts">
        <ion-slide *ngFor="let plan of planList; let i = index;">
          <plan-card 
              [plan]="plan" 
              forUpgrade="true" 
              [color]="colors[i]"
              (buyNow)="onBuy($event)"
              [purchasedPlan]="purchasedPlan"
              (showDetails)="onShowDetails($event)"
              ></plan-card>
        </ion-slide>
      </ion-slides>
  