// ion-slide.swiper-slide-active {
//     background: yellow;
// }
@import "src/variables.scss";

ion-slides {
    margin-bottom: 10px;
    height: 104%;
    border-radius: 15px;

}

ion-slide {
    top: 0;
    opacity:0.4;
    position: relative;
    transition: all 0.5s ease-in-out;
}

ion-slide.swiper-slide-active {
    // max-height: 100%;
    // height: 100%;
    // top: 0;
    opacity:1;


}