

<div class="card animate__animated animate__fadeIn">
    <heading text="Please Confirm your details" showClose="true"></heading>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Customer Name : </li>
      <li class="list-group-item">Car Registration Number : </li>
      <li class="list-group-item">Maker / Model :  </li>
      <li class="list-group-item">Selected Plan : </li>
      <li class="list-group-item">Final Price :  <span Rs>1000</span> </li>

    </ul>
    <cta text="Pay" (action)="dismissAndPay()"></cta>
  </div>

