@import "src/variables.scss";

.card {
    padding: 20px;
    overflow-y:scroll;
    overflow-x: hidden;
    border-bottom: none;
    //margin-bottom: 3em;
}

.email-link {
    color: $primary-color;
}

.list-group {
    margin-top: 5px;

    &.has-sticky-button {
        padding-bottom: 70px;
    }
}

.payLaterRow {
    position: fixed;
    bottom: 7px;
    width: 98%;
    /* height: 56px; */
    /* z-index: 10000; */
    left: 1%;
}

.onTop {
    position: fixed;
    bottom: 45px;
    width: 100%;
    left: 0%;
    padding-left: 40px;
    padding-right: 40px;

    .label {
    font-size: 14px;
    }

    .amount {
        font-size: 18px;
    }
}

.col-6 {
    padding-left: 0;
    padding-right: 0;
    color: black;
    text-align: right;

    &:first-of-type {
        color: gray;
        text-align: left;
    }
}

li {
    padding-top: 6px;
    padding-bottom: 6px;
}
