<div class="card animate__animated animate__fadeIn">

  <div class="">
      <heading [text]="details.isUnlisted ? '' : 'Please Confirm your details'" showClose="true"></heading>
  <br/>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Customer Name
              </div>
              <div class="col-6">
                {{details.userName}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                  Car Registration Number
              </div>
              <div class="col-6">
                  {{details.car.regNo | uppercase}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Maker
              </div>
              <div class="col-6">
                  {{details.car.maker}} 
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                  Model
              </div>
              <div class="col-6">
                {{details.car.model}}
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="mode && mode.plan">
            <div class="row">
              <div class="col-6">
                  Selected {{mode.plan ? 'Plan':  (mode.addhoc ? 'Service' :'Addon')}}
              </div>
              <div class="col-6">
                  {{mode.plan ? details.plan.name: (mode.addhoc ? details.info.adhocs : details.info.addons )}}
              </div>
            </div>
          </li>
          <li *ngIf="hasAddons" class="list-group-item">
              <div class="row">
                <div class="col-6">
                    Addons Included
                </div>
                <div class="col-6">
                    {{details.info.addons}}
                </div>
              </div>
            </li>
            <li *ngIf="hasAdhocs" class="list-group-item">
                <div class="row">
                  <div class="col-6">
                      Services Included
                  </div>
                  <div class="col-6">
                      {{details.info.adhocs}}
                  </div>
                </div>
              </li>
          <li *ngIf="details.plan && details.plan.forRenew" class="list-group-item">
              <div class="row">
                <div class="col-6">
                    Period
                </div>
                <div class="col-6">
                    {{details.plan.period}}
                </div>
              </div>
            </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                  Final Price :
              </div>
              <div class="col-6">
                  <span Rs>{{totalAmount}}</span>
              </div>
            </div>
          </li>
      
        </ul>
  </div>

  <ng-container *ngIf="details.carAlreadyActive">

    <heading align="center" text="You have purchased a Monthly Plan for this Car"></heading>
    <heading align="center" text="Head to the Dashboard now to Upgrade!"></heading>

    <heading align="center" text="Or you can try a different Car."></heading>

    <cta sticky="true" text="OK" (action)="dismissOnly()"></cta>

  </ng-container>

  <ng-container *ngIf="details.isUnlisted">
      <heading text="We are currently not operational in your society." align="center"></heading>
      <heading text="Our Sales team will soon be in touch to arrange a Demo in your Society." align="center"></heading>
      <heading text="STAY SAFE" align="center" capitalize="true"></heading>
      <heading text="BE HAPPY!" align="center" capitalize="true"></heading>
      
      <br/>
      Reach out to us for a Real Time Update: <a  class="email-link" href="mailto:support@ccubeco.com">support@ccubeco.com</a>

      <cta small="true" text="OK" (action)="dismissOnly()"></cta>

  </ng-container>
  <cta *ngIf="!details.isUnlisted && !details.carAlreadyActive" text="Pay" sticky="true" (action)="dismissAndPay()"></cta>
</div>