<div class="row">
  <div class="col-12 mobile-input">
      <label for="mobileNumber">{{name}}</label>
      <div class="input-group">
        <div class="input-group-prepend" *ngIf="name === 'Mobile Number'">
          <span class="input-group-text" id="basic-addon3"> + 91 | </span>
        </div>
        <input [attr.type]="type" required #phoneInput 
          class="form-control" 
          [class.not-mobile]="name !== 'Mobile Number'"
          
          (input)="onPhoneChange(phoneInput.value)"
          [placeholder]="placeholder" 
          [value]="value ? value : ''"
          aria-describedby="basic-addon3">
      </div>
  </div>
</div>

