<mobile-input name="House No / Flat No" mandatory="true" type="text" [(value)]="location.houseNo"></mobile-input>

<mobile-input  name="Street / Block Name" type="text" [(value)]="location.block"></mobile-input>

<select-society [(society)]="location.society" [city]="location.city" mandatory="true" ></select-society>

<select-city [(city)]="location.city" mandatory="true" [(state)]="location.state" [showState]="true" [disabled]="true"></select-city>

<cta text="Confirm" [disabled]="!allFieldsReady" (action)="sendConfirmation()"></cta>