@import 'src/variables.scss';

.form-container {
    margin-top: 5em;
    transition: all 0.5s ease-in;

    &.expand {
        margin-top: 2em;
    }

}

.signup-btn {
    bottom: -10%;
    width: 120%;
    left: -10%;
}

.social-login {
    margin-top: 1em;

    .login-fb {
        margin-right: 1em;
    }
}

.login-banner {
    position: fixed;
    bottom: 5em;
    right: 2em;
}

.details-container {
    height: 82vh;
}


.existingUser {
    position: relative;
    top: 10px;
}

.link {
    color: $primary-color;
}