@import 'src/variables.scss';

.form-container {
    margin-top: 5em;
    transition: all 0.5s ease-in;

    &.expand {
        margin-top: 2em;
    }

}

.tip {
    color: $secondary-color;

}

.terms {
    position: relative;
    top: -3px;
}

mat-checkbox {
    &.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
     background: rgb(0,178,0);
    }
  }

.signup-btn {
    bottom: -10%;
    width: 120%;
    left: -10%;
}

.social-login {
    margin-top: 1em;

    .login-fb {
        margin-right: 1em;
    }
}

.login-banner {
    position: relative;
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block;
}

.details-container {
    //height: 82vh;
}


.existingUser {
    position: relative;
    top: 10px;
    display: block;
}

.link {
    color: $primary-color;
}