

  <div class="slide-container">
    <div class="row">
      <div class="col-2">
        <div class="circle"></div>
      </div>
      <div class="col-10 info">
        <div class="row">
          <div class="col-10 value">
            <strong>{{value}}</strong>
          </div>
          <div class="col-2 symbol">
              <ion-icon name="thumbs-up-sharp"></ion-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-12 title">
              <span>{{title}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 unit">
              <span>{{unit}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
