<div class="schedule-list">

    <div class="alert alert-light" role="alert" *ngFor="let service of schedule; let i = index">
        <div class="row">
            <div class="col-4 ">
                <span class="day vertical-center-text">{{service.day}}</span><br/>
                <span *ngIf="i==0" class="badge badge-info ">Today</span>
            </div>
            <div class="col-8">
                <span class="task">
                    {{service.task}} 
                </span> <br/>
                <span *ngFor="let adhoc of service.adhocs" class="badge badge-warning adhoc"> {{adhoc}} </span> 
                <ng-container *ngFor="let addon of service.addons">
                    <div class="badge badge-primary addon"> <span class="vertical-center-text"> {{addon}} </span></div> 
                    <ion-icon *ngIf="addon == 'Sanitization'" class="icon-shield" name="shield-checkmark-outline"></ion-icon> 
                </ng-container>
               
            </div>
          </div>
    </div>
  </div>

<!-- 
 
  <div class="rows">
    <div class="row">
      <div class="col-4 day">
        Tuesday
      </div>
      <div class="col-8 task">
        Cleaning + Sanitization
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Wednesday
      </div>
      <div class="col-8 task">
        Cleaning
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Thursday
      </div>
      <div class="col-8 task">
        Water Wash
      </div>
    </div>

    <div class="row">
      <div class="col-4 day">
        Friday
      </div>
      <div class="col-8 task">
        Cleaning + Battery Check
      </div>
    </div>
  </div> -->
