<div class="schedule-list">

    <div class="alert alert-light" role="alert" *ngFor="let service of schedule; let i = index">
        <div class="row">
            <div class="col-3 --no-padding-left">
                <span class="day vertical-center-text">{{service.day}}</span><br/>
                <span  class=" ">{{displayDate(service.date)}}</span>
            </div>
            <div class="col-9 --no-padding">
                <ng-container *ngFor="let task of service.tasks">
                  <span class="badge task badge-success adhoc" [class.badge-success]="task.task != 'Micro Fiber Dusting' && task.task != 'Leave'" [class.badge-light]="task.task == 'Leave'" [class.badge-primary]="task.task == 'Micro Fiber Dusting'"> {{task.task}} </span>  <ion-icon *ngIf="task.task == 'Internal Sanitization'" class="icon-shield" name="shield-checkmark-outline"></ion-icon>   <ion-icon class="reschedule-link" [class.blocked]="service.isRescheduled"  *ngIf="task.task == 'Outside Eco Wash'" (click)="openReschedule(service)" name="calendar-outline"></ion-icon> <br/> 
                  <ng-container *ngFor="let addon of task.addons">
                      <div class="badge badge-light addon"> <span class="vertical-center-text"> {{addon}} </span></div> 
                  </ng-container><br/>
                </ng-container>

                <span *ngFor="let adhoc of service.adhocs" class="badge badge-warning adhoc"> {{adhoc}} </span> 

               
            </div>
          </div>
    </div>
  </div>

<!-- 
 
  <div class="rows">
    <div class="row">
      <div class="col-4 day">
        Tuesday
      </div>
      <div class="col-8 task">
        Cleaning + Sanitization
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Wednesday
      </div>
      <div class="col-8 task">
        Cleaning
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Thursday
      </div>
      <div class="col-8 task">
        Water Wash
      </div>
    </div>

    <div class="row">
      <div class="col-4 day">
        Friday
      </div>
      <div class="col-8 task">
        Cleaning + Battery Check
      </div>
    </div>
  </div> -->
