 @import "src/variables.scss";
 
 .task {
    font-size: 14px;
    color: white;
    top: -6px;
    position: relative;

   &:first-of-type {
       top: 0;
   }
}

.day {
    text-transform: uppercase;
    font-size: 10px;
}

.addon {
    margin-right: 4px;
    font-size: 9px;
    top: -6px;
    position: relative;
}

.adhoc {
    font-size: 8px;
}

    .icon-shield {
        color: green;
        font-size: 18px;
        position: relative;
        top: 5px;
        left: 5px;
        margin-right: 8px;
    }


.alert {
    margin-bottom: 5px;
}

.schedule-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    left: -10px;
    position: relative;
    width: calc(100% + 20px)

}

.task-container {
    position: relative;
    margin-top:-10px;
    margin-bottom: -4px;

    &:first-of-type {
        margin-top: 0;
    }
}

.reschedule-link {
    color: $secondary-color;
    font-size: 16px;
    margin-left: 5px;
    top: 4px;
    position: relative;

    &.blocked { 
        color: gray;
    }
}

.badge-light {
    color: black;
}

.badge {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.alert-light {
    background: #f6fbfa;
    width: 100%;
    font-size: 10px;
    padding: 4px 22px;
}
.rows {
    .row {
    margin: 0 10px;
    padding-left: 0;

    &:last-of-type {
        border-bottom: none
    }
}
}

mat-card {
    padding-top: 0;
}