<mat-card>
  <heading align="center" text="Weekly Schedule"></heading>

  <div class="rows">
    <div class="row">
      <div class="col-4 day">
        Tuesday
      </div>
      <div class="col-8 task">
        Cleaning + Sanitization
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Wednesday
      </div>
      <div class="col-8 task">
        Cleaning
      </div>
    </div>
    <div class="row">
      <div class="col-4 day">
        Thursday
      </div>
      <div class="col-8 task">
        Water Wash
      </div>
    </div>

    <div class="row">
      <div class="col-4 day">
        Friday
      </div>
      <div class="col-8 task">
        Cleaning + Battery Check
      </div>
    </div>
  </div>

</mat-card>