@import "src/variables.scss";

.reschedule-container {
    margin-top: 1em;
    position: relative;
    padding: 15px;
    overflow-y:auto;
    overflow-x: hidden;
}

.count {
    color: $secondary-color;
}

.close-link {
    position: absolute;
    font-size: 30px;
    right: 0.5em;
    top: 0;
}

.today {
    color: $primary-color;
}

.expiry {
    color: $secondary-color;
}