<div class="reschedule-container">
    <ion-icon class="close-link" name="close-outline" style="color:red;" (click)="dismiss()"></ion-icon>
  <heading *ngIf="!forAdhoc" slim="true" size="14" text="Reschedule Full Body Wash" align="center"></heading>
  <heading *ngIf="forAdhoc" size="14" slim="true" [text]="'Reschedule ' + adhoc.addon.name" align="center"></heading>
<br/>
  <span class="count">Reschedules Left: </span>
  <span class="">
    {{count}}
  </span>

  <br/><br/>
  <ng-container *ngIf="canReschedule">
      <span >You may Reschedule this service for  <span *ngIf="count==2"> Free </span> <span *ngIf="count == 1">the price of <span Rs> 50 </span></span></span>

      <br/><br/>
      <span *ngIf="!forAdhoc">You can reschedule to any future working day within the same Monthly Cycle.</span>
      <span *ngIf="forAdhoc">You can reschedule to any working day before service expiry.</span> 

      <!-- <warning *ngIf="!forAdhoc || (adhoc && adhoc.addon.code == 'FBW')" text="Wednesdays are Off!"></warning> -->
    <br/><br/>
      <span>Service Scheduled On : <span class="today">{{today}}</span></span>

      <br/>
      <span *ngIf="forAdhoc">Service Expires On : <span class="expiry">{{expiry}}</span></span>
      
      <mobile-input type="date" [error]="dateError" name="Reschedule To" [constraints]="constraints" [value]="selectedDate" (valueChange)="checkDate($event)"></mobile-input>
      
      <cta text="Reschedule" [disabled]="!!!selectedDate" [loading]="loading" sticky="true" (action)="reschedule()"></cta>
      
  </ng-container>

  <subheading *ngIf="!canReschedule" text="You have reached the Max Limit for Rescheduling this service!" align="center"></subheading>

</div>