// h1 {
//     margin-top:0;
// }
@import "src/variables.scss";

.outline {
    background: $bg-light-blue;
    border-radius: 25px;
}

.close {
    color: $secondary-color;
    float: right;
    cursor: pointer;
    position: relative;
}

h1 {
    margin: 0;
    margin-top: 16px;
}