// h1 {
//     margin-top:0;
// }
@import "src/variables.scss";

.outline {
    background: $bg-light-blue;
    border-radius: 25px;
}

.slim {
    margin: 0;
}

.capitalized {
    z-index: 2;
    position: relative;

    letter-spacing: 4px;

    .char {

                display: inline-block;  
                &:first-of-type {
                     color: $primary-color;
                    font-size: 22px;
                }
            }  
    .word {
        padding-right: 5px;
        
    }
    
    
}

.close {
    color: $secondary-color;
    float: right;
    cursor: pointer;
    position: relative;
}

h1 {
    margin: 0;
    margin-top: 16px;
}