
<div class="row">
    <div class="col-12">
        <h1 
            [style.color]="color" 
            [style.fontSize]="size + 'px'"
            [style.textAlign]="align"
            [class.outline]="outline"
            [class.slim]="slim"
            > 
            <span *ngIf="formattedText" class="capitalized">
                <span *ngFor="let word of formattedText" class="word">
                    <span *ngFor="let char of word" class="char">
                        {{char}}
                    </span>
                </span>
            </span>
            <span *ngIf="!formattedText">
                {{text}} 
            </span>
            <span *ngIf="showClose" class="close" (click)="dismiss()">X</span>
        </h1>   
        
        <ng-content ></ng-content>
    </div>
  </div>