<div class="row">
  <div class="col-12 mobile-input">
    <label [class.red]="hasError" for="mobileNumber">City <span *ngIf="mandatory" class="mandatory-link"><sup>*</sup></span></label>
    <div class="input-group">
      <ng-container *ngIf="!disabled">
        <input #inpCity class="form-control --no-padding" [class.error-field]="hasError" (click)="focus()"  (keyup.enter)="onEnterKey($event)" type="text" aria-label="City" matInput name="city"
        [(ngModel)]="city" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true">
        <mat-option *ngFor="let option of filteredCities" [value]="option" (click)="selectCity(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      </ng-container>
      <span class="form-control disabled" *ngIf="disabled"> {{city}}</span>
      
    </div>
    <span *ngIf="hasError" class="error-msg"> {{error}}</span>
  </div>
</div>

<div class="row" *ngIf="showState">
    <div class="col-12 mobile-input">
      <label for="mobileNumber">State <span *ngIf="mandatory" class="mandatory-link"><sup>*</sup></span></label>
      <div class="input-group">
        <ng-container *ngIf="!disabled">
          <input #inpState autocomplete="false" (click)="focus()" class="form-control --no-padding"  (keyup.enter)="onEnterKey($event)"  type="text" aria-label="State" matInput name="state"
          [(ngModel)]="state" [matAutocomplete]="autoState">
        <mat-autocomplete #autoState="matAutocomplete" autoActiveFirstOption="true">
          <mat-option *ngFor="let option of filteredStates" [value]="option" (click)="selectState(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        </ng-container>
        <span class="form-control disabled" *ngIf="disabled"> {{state}}</span>
        
      </div>
    </div>
  </div>