@import 'src/variables.scss';


.clear-text {
    right: -10px;
    position: absolute;
    z-index: 10;
}

.mobile-input {
    margin-top: 1em;
    label {
        color: $primary-color;
        font-weight: 500;
        margin-bottom:0;
    }

    input {
        border: none;
        border-bottom: 1px solid $primary-color;;
        border-radius: 0;
        background: transparent;
        color: $bg-black;
        height: 25px;
        margin-bottom: 10px;
    }

    .error-field {
        border-bottom: 1px solid red;
    }

    .red {
        color: red;
    }

    .error-msg {
        color: #6f6666;
        margin-top: 8px;
        border-bottom: none;
        font-weight: 300;
    }


    .not-mobile {
        padding:0;
        height:25px;
    }

    .mandatory-link {
        color: $secondary-color;
        border-bottom: none;
    }

    .disabled {
        color:gray;
    }

    span {
        border: none;
        border-bottom: 1px solid $primary-color;
        background: transparent;
        font-weight: bold;
        border-radius: 0;
        color: black;
        padding-left: 0;
    }
}

ion-icon {
    font-size: 24px !important;
    margin-right: 10px;
}