<ion-content>
  <div class="container-fluid">
    <div *ngIf="ready" class="row profile-content" [class.fullPage]="context!='profile'">
      <div class="offset-md-2 col-md-8">
        <div class="container">
          <spinner class="page-spinner" *ngIf="!ready" class="text-center" color='blue'></spinner>
          <ng-container *ngIf="ready">
              <div *ngIf="context=='profile'" class="card animate__animated animate__bounceInDown">
                  <img class="card-img-top" [src]="profilePic" (click)="setProfilePic()" alt="User Image">
                  <div class="card-body">
                      <ul class="list-group list-group-flush" *ngIf="currentUser">
                        
                          <mobile-input [readonly]="true" name="Name" [(value)]="currentUser.name"> </mobile-input>
                        
                            <mobile-input [readonly]="true" name="Phone" [(value)]="currentUser.phone"> </mobile-input>
                         
                            <mobile-input [readonly]="true" name="Email" [(value)]="currentUser.email"> </mobile-input>
                            
<select-society *ngIf="userLocation.society" [disabled]="true" [society]="userLocation.society" [city]="userLocation.city" ></select-society>

<select-city  [(city)]="currentUser.city" [disabled]="true"></select-city>

                      </ul>
                      <refer-earn slim="true" noPadding="true"></refer-earn>
                  </div>
                  <div class="card-body">
                    <cta text="Log Out" (action)="logOutUser()"></cta>
                  </div>
                </div>
      
                <div *ngIf="context=='refer'">
                  <refer-earn></refer-earn>
                </div>

                <div *ngIf="context=='about'">
                  
                  <terms></terms>
                </div>


                <div *ngIf="context=='contact'" class="contact-section">
                  <heading text="For Feedback, Appreciation or Requests" size="14"></heading>
                  <br/>
                  <div class="row">
                    <div class="col-2"> <ion-icon name="call-outline"></ion-icon> </div>
                    <div class="col-10"> <a href="tel:7827852332">+91 78278 52332</a> </div>
                  </div>
                  <div class="row">
                      <div class="col-2"> <ion-icon name="mail-outline"></ion-icon> </div>
                      <div class="col-10"> <a href="mailto:support@ccubeco.com">support@ccubeco.com</a> </div>
                    </div>
                    <div class="row">
                        <div class="col-2 --no-padding"> <img src="assets/whatsapp.png"> </div>
                        <div class="col-10"> <a href="https://wa.me/917827852332">
                          Whattsapp Us</a> </div>
                      </div>


                </div>
          </ng-container>

          
        </div>
      </div>
    </div>
    <spinner *ngIf="!ready" color="blue"></spinner>
  </div>
</ion-content>