<div class="row" id="top">
  <div class="col-12">
    <div class="row plan-container">


      <div class="col-6 --no-padding">
        <img *ngIf="car" class="page-logo vertical-center --no-padding" [src]="car.image"
          (click)="showLink = !showLink">
      </div>

      <div class="col-6 --no-padding-left">
        <div *ngIf="car" class="car-info" role="alert">
          <span class="model">{{car.model}}</span>
          <span class="regNo">{{car.displayLabel }} - {{car.regNo.substr(0,2)}} * * * {{car.regNo.substr(car.regNo.length - 4)}}</span>
          <ng-container *ngIf="mode == 'plan'">
            <span>
              <span class="plan-name" (click)="goToPlan()" >{{plan.name}}</span>
              <div class='badge quarterly-label badge-pill badge-info'>
                {{ plan.duration =='quarterly' ? 'Quarterly' : 'Monthly' }} Plan</div>
            </span>

            <div
              [ngClass]="{
                  'badge status-badge' : true,
                  'badge-primary': subscription.status == 'Active',
                  'badge-light': subscription.status == 'Ready',
                  'badge-warning': subscription.status == 'Expiring',
                  'badge-danger': subscription.status == 'Expired' || subscription.status == 'Terminated',
                  'badge-success': subscription.status == 'Payment Received'  || subscription.status == 'Service Scheduled'}">
              {{ subscription.status == 'Payment Received' && subscription.isPostpaid ? 'AWAITING SCHEDULE' : (subscription.status | uppercase)}}</div>


            <span class="expiry">{{expiry}}</span>

            <ng-container *ngIf="payment.nextPlan">
              <span>
                <span class="plan-name">{{payment.nextPlan.plan.name}}</span> Plan
                <span class="expiry">Starting On {{nextPlanStartDate}}</span>
              </span>

            </ng-container>

            <div *ngIf="subscription.showRenew" (click)="sendRenewPlan()" class="renew-link">
              <span>Renew Plan</span>
            </div>

          </ng-container>
          <ng-container *ngIf="mode == 'adhoc'">
            <div class="adhoc-name">
              <span class="plan-name">{{adhoc && adhoc.addon.name}}</span>
              <ion-select interface="action-sheet" *ngIf="subscription.adhocs.length > 1" [value]="adhoc.addon.name" (ionChange)="selectAdhoc($event)">
                <ion-select-option *ngFor="let adh of subscription.adhocs" [value]="adh.addon.name"
                  (click)="selectAdhoc(adh)">{{adh.addon.name}}</ion-select-option>
              </ion-select>
            </div>

            <div [ngClass]="{
                  'badge adhoc-status-badge' : true,
                  'badge-primary': subscription.status == 'Scheduled' ||  subscription.status == 'Active' ,
                  'badge-light': subscription.status == 'Ready',
                  'badge-warning': subscription.status == 'Expiring' || subscription.status == 'Missed',
                  'badge-danger': subscription.status == 'Expired' || subscription.status == 'Terminated',
                  'badge-success': subscription.status == 'Purchased'}">
              {{subscription.status | uppercase}}</div> 
              <div *ngIf="subscription.status == 'Purchased'" (click)="sendReschedule()" class="schedule-link">

                  <span>
                     <ion-icon [style.color]="'#ffa169'" name="calendar-outline"></ion-icon>
                  </span>
                </div>
            <span class="expiry">{{expiry}}</span>
            <div *ngIf="subscription.status == 'Missed'" (click)="sendReschedule()" class="schedule-link">
              <span>Reschedule</span>
            </div>

           
          </ng-container>

          <!-- <span class="alert-link float-right" (click)="resetCar()">Change Car</span> -->
        </div>
      </div>
    </div>
  </div>
</div>