@import "src/variables.scss";

#top {

}

.quarterly-label {
  position: relative;
  margin-top:-3px;
  display: table-cell;
  letter-spacing: 1.5px;
}

.page-logo {
    left:0;
    width: 100%;
    margin-bottom: 10px;
  }

  .change-car-link {
    top: -10%;
    position: relative;
    font-weight: 500;
    left: 40%;
    color: $secondary-color;
  }

  .nav-link.active {
    background-color: $primary-color;
  }
  
  .car-details-container {
    height: 160px;
  }

  .status-badge {
    margin: 0.5em 0;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
  }

  .expiry {
    font-size: 13px;
    font-style: italic;
  }

  .tabs-container {
    mat-expansion-panel-header {

      ion-icon{
        font-size: 25px;
      }

      .header-text {
        margin-top: 5px;
        margin-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &:hover {
        background-color: inherit !important;
      }
    }
  }

  .plan-container {
    //min-height: 220px;
  }
  .car-info {
    font-size: 16px;
    padding: 20px 0 0 0;
    text-align: left;

    span {
      display: block;
    }

    .renew-link {
      margin-bottom: 1em;
    }
    .plan-comparison-link,.renew-link, .plan-name {
      color: $secondary-color;
      display: inline-block;
      text-transform: uppercase;
      font-size: 120%;
    }

    .plan-name {
      margin-top: 1em;
      font-weight: 500;
    }

    .regNo {
     
      text-transform: uppercase;
    }


    .model {
      letter-spacing: 2px;
      color: $primary-color;
      font-size: 120%;
      text-transform: uppercase;
      font-weight: 500;
    }
  }