@import "src/variables.scss";

#top {
  min-height: 250px;
}

.page-logo {
    width: 100%;
    margin-bottom: 10px;
  }

  .change-car-link {
    top: -10%;
    position: relative;
    font-weight: 500;
    left: 40%;
    color: $secondary-color;
  }

  .car-info {
    font-size: 16px;
    padding-left: 30px;



    span {
      display: block;
    }
    .plan-comparison-link, .plan-name {
      color: $secondary-color;
      display: inline-block;
      text-transform: uppercase;
      font-size: 120%;
    }


    .model {
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }