<div class="row" id="top">
  <div class="col-12">
    <div class="row plan-container">


      <div class="col-6 --no-padding">
        <img *ngIf="car" class="page-logo vertical-center --no-padding" [src]="car.image"
          (click)="showLink = !showLink">
      </div>

      <div class="col-6 --no-padding-left">
        <div *ngIf="car" class="car-info" role="alert">
          <span class="model">{{car.model}}</span>
          <span class="regNo">{{car.regNo}}</span>
          <span>
            <span class="plan-name">{{plan.name}}</span> Plan
          </span>
          <div [ngClass]="{
            'badge status-badge' : true,
            'badge-primary': subscription.status == 'Active',
            'badge-light': subscription.status == 'Ready',
            'badge-warning': subscription.status == 'Expiring',
            'badge-danger': subscription.status == 'Expired' || subscription.status == 'Terminated',
            'badge-success': subscription.status == 'Payment Received'  || subscription.status == 'Service Scheduled'}">{{subscription.status | uppercase}}</div>
            <br/>
          <span class="expiry">{{expiry}}</span>

          <ng-container *ngIf="payment.nextPlan">
              <span>
                  <span class="plan-name">{{payment.nextPlan.plan.name}}</span> Plan
                  <span class="expiry">Starting On {{nextPlanStartDate}}</span>
                </span>
                
          </ng-container>

          <br/>
          <div *ngIf="subscription.showRenew" (click)="sendRenewPlan()" class="renew-link">
            <span>Renew Plan</span>
          </div>
          <br/>
          <!-- <span class="alert-link float-right" (click)="resetCar()">Change Car</span> -->
        </div>
      </div>
    </div>
  </div>
</div>
