<div>
  <heading text="Sign In"></heading>

<subheading size="16" text="Sign In to the revolutionary Complete Car Care Experience">
</subheading>

<mobile-input name="Mobile Number" placeholder="Enter your Mobile Number" [(value)]="user.mobile"></mobile-input>

<mobile-input name="Password" type="password" placeholder="Your Password" [(value)]="user.password"></mobile-input>

<cta text="Log In" sticky="true" [loading]="loading" [disabled]="!isPhoneValid" (action)="tryLogin()"></cta>
<subheading *ngIf="showError" [text]="errorMsg" color="red"></subheading>

<heading  text="Forgot Password ?"  align="right" size="16"></heading>

Not a Member? <a class="link" [routerLink]="['/signup']" >Create an Account</a>

<!-- <cta [disabled]="!isPhoneValid" [loading]="loading" text="Use OTP" (action)="sendOTP()"></cta> -->

</div>
