<div>
  <heading text="Sign In"></heading>

<subheading size="16" text="Sign In to the revolutionary Complete Car Care Experience">
</subheading>

<mobile-input name="Mobile Number" [error]="mobileError" (enterKey)="focusTo('inpPass')" placeholder="Enter your Mobile Number" [(value)]="user.mobile"></mobile-input>

<mobile-input #inpPass name="Password"  (enterKey)="focusTo('ctaLogin')"type="password" placeholder="Your Password" [(value)]="user.password"></mobile-input>

<cta #ctaLogin text="Log In" sticky="true" [loading]="loading" [disabled]="!isPhoneValid" (action)="tryLogin()"></cta>
<subheading *ngIf="showError" [text]="errorMsg" color="red"></subheading>

<heading  text="Forgot Password ?" (click)="onForgotPassword()"  align="right" size="16"></heading>

<!-- <verify-otp
        *ngIf="otpSent"
       [mobile]="user.mobile" length="4" 
       (otpSubmitted)="handleOtp($event)" 
       [mismatch]="otpMismatch"
      ></verify-otp>  -->

<br/>

Not a Member? <a class="link" [routerLink]="['/signup']" >Create an Account</a>

<!-- <cta [disabled]="!isPhoneValid" [loading]="loading" text="Use OTP" (action)="sendOTP()"></cta> -->

</div>
