.car-form {
    font-size: 18px;
    padding: 0 15px;
    margin-top:-1em;
    
    img {
        margin-top: -2em;
    }
}

.car-img {
    width: fit-content;
    background: red;
    padding: 10px;
    
    img {
        width: 200px;
    }
}