<ng-container *ngIf="!showCarSelector">
    <mobile-input type="text" uppercase="true" name="Registration Number" placeholder="HR51XX1122" [(value)]="regNo" ></mobile-input>
    <div class="animate__animated" [class.animate__fadeOutUp]="isTypingRegNo">
        <heading  text="OR" align="center"></heading>
  
        <cta *ngIf="!isTypingRegNo" text="Select your car" (action)="showCarSelector = true;"></cta>
    
    </div>

    <cta *ngIf="isRegNoValid && !findingCar" text="Get Car Details" (action)="findingCar = true" [loading]="loading"></cta>
    <car-display *ngIf="findingCar" [carNo]="regNo" (letsgo)="goToPlans($event)"></car-display>
  
  </ng-container>
  
  <select-car *ngIf="showCarSelector" (letsgo)="goToPlans($event)"></select-car>

  