@import 'src/variables.scss';

.panel-makers, .panel-models {
    display: inline-flex;
    padding-left: 15px;
    max-height: 400px;
    overflow-y: scroll;
}

.maker-row {
    padding-left:0;
    padding-right:0;
}
.panel-models {
    padding-left: 30px;
    padding-right: 30px;
}

.maker-search, .model-search {
    width: 93%;
    margin-left: 4%;
    margin-top: -25px;
    margin-bottom: 5%;
    display: block;
}


.maker, .model {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    // @media screen and (max-width:768px){
    //     min-height: 100px;
    //     .card-img-top {
    //         margin: 15px;
    //     }
    // }

    .card-body {
        padding: 10px;
        text-align: center;
        font-size: 80%;
    }

    .image-row {
        padding-right: 0;
        padding-left: 10px;
        top: 12px;
    }

    &:hover {
        .card-body {
            font-weight: bold;
        }
    }

    .card-title {
        margin-top: 2em !important;
        font: 500 calc(18px * 0.83)/20px Roboto, "Helvetica Neue", sans-serif !important;
    }
}


