@import 'src/variables.scss';

.panel-makers, .panel-models {
    display: inline-flex;
    padding-left: 15px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-group-item {
    border-radius: 10px;
    font-size: 15px;
}


.maker-row {
    padding-left:0;
    padding-right:0;
    width: fit-content;
    display: table;

    .maker-row-content {
        .col-5, .col-7 {
            //top: 12px;
            // padding-top: 12px;
            // padding-bottom: 12px;
        }
    }
}

.model-row {
    .model-row-content {
        .col-6, .col-7 {
            //top: 12px;
            // padding-top: 12px;
            // padding-bottom: 12px;
        }
    }
}
.panel-models {
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: hidden;
    overflow-y:scroll;
}

.maker-search, .model-search {
    width: 93%;
    margin-left: 4%;
    margin-top: -25px;
    margin-bottom: 5%;
    display: block;
}



.maker, .model {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding-bottom: 0;
    max-height: 95px;

    // @media screen and (max-width:768px){
    //     min-height: 100px;
    //     .card-img-top {
    //         margin: 15px;
    //     }
    // }

    .card-body {
        padding: 10px;
        text-align: center;
        font-size: 80%;
    }

    .image-row {
        padding-right: 0;
        padding-left: 10px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    &:hover {
        .card-body {
            font-weight: bold;
        }
    }

    .model {
        .card-title {
            font-size: 14px;
            margin-top: 1em !important;
        }
    }

    .card-title {
        margin-top: 2em ;
        font: 500 calc(18px * 0.83)/20px !important;
        font-size: 10px;
        color: gray;
    }
}

.model {
    .card-title {
        margin-top: 2.5em; 
        @media screen and (max-width: 350px){
            margin-top: 1em;
        }
    }
}

.maker {
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding-bottom: 0;
    max-height: 95px;
    border-radius: 0;
    min-height: 100px;
    //min-width: 100px;
    padding: 0 0 0 10px;
    min-width: 75px;

    .card-body {
        top: -10px;
        position: relative;
    }

    .maker-name {
        position: absolute; 
        bottom: 0;
        height: 30px;
        text-align: center;
        font-size: 80%;

        @media screen and (max-width: 350px){
            width: 80%;
            left: 6%;
        }
    }

    .image-row {
        padding:0;
        padding-top: 8px;
        max-width: 64px;
        margin-left: 20%;
        @media screen and (max-width: 350px){
           margin-left: 10%;
        }
    } 

    .card-title {
        margin-top: 1em ;
        line-height: 1.2;
    }
    
}

.top-1 {
    margin-top: 1em !important;
}


