@import 'src/variables.scss';

.panel-makers {
    display: inline-flex;
    padding-left: 15px;
}



.maker {
    margin-right: 10px;
    margin-top: 10px;
    min-height: 180px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .card-body {
        padding: 10px;
        text-align: center;
    }

    // .card-img-top {
    //     height: 100px;
    //     width: 150px;
    // }

    &:hover {
        width: 102%;
        left: -2%;
        .card-body {
            font-weight: bold;
        }
    }
}