<ion-list class="list-notif">
  <ion-item-group>

    <div class="row new-item" lines="none" *ngFor="let item of newItems" (click)="readNotification(item)">
      <div class="col-4 --no-padding ">
        <img [src]="(item.data.car && item.data.car.image) || 'assets/icons/ccubeBlue.png'">
      </div>
      <div class="col-8 --no-padding-left bold">
        <ion-label>
          {{item.body}}
        </ion-label>
      </div>
    </div>

    <ion-item *ngIf="newItems.length > 0" class="recent-item" lines="none" (click)="clearNotifications()">
      <ion-label class="text-center" >
        CLEAR ALL
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>

    <div class="row recent-item" lines="none" *ngFor="let item of recentItems" (click)="clearNotifications()">
      <div class="col-4 --no-padding">
        <img [src]="( item.data.car && item.data.car.image ) || 'assets/icons/ccubeBlue.png'">
      </div>
      <div class="col-8 --no-padding-left">
        <ion-label>
          {{item.body}}
        </ion-label>
      </div>
    </div>

  </ion-item-group>

  <ion-item *ngIf="recentItems.length == 0 && newItems.length == 0" class="recent-item" lines="none">
    <ion-label>
      No New Notifications!
    </ion-label>
  </ion-item>
</ion-list>