
  <ion-list class="list-notif">
      <ion-item-group>
        <ion-item-divider class="divider">
          <ion-label>OFFERS</ion-label>
        </ion-item-divider>
      
        <ion-item class="new-item" lines="none" *ngFor="let item of newItems">
            <ion-label>
              {{item.label}}
            </ion-label>
          </ion-item>

        </ion-item-group>
        <ion-item-group>
            <ion-item-divider class="divider">
              <ion-label>RECENT ACTIVITY</ion-label>
            </ion-item-divider>
      
            <ion-item class="recent-item" lines="none" *ngFor="let item of recentItems">
                <ion-label>
                  {{item.label}}
                </ion-label>
              </ion-item>
    
            </ion-item-group>
        </ion-list>