@import "src/variables.scss";


.list-notif {

    font-size: 12px;
    max-height: 350px;
    overflow-y: auto;
    .divider {
        font-size: 14px;
        background: lighten(orange, 20%);

        ion-label {
            white-space: pre-line;
            font-size: 14px;
        }
    }

    ion-label {
        white-space: pre-line;
        font-size: 12px;
    }

    .new-item {
        --background: #7ccaff2b;
        margin-bottom: 2px;
    }

    .recent-item {
        --background:  white;
        margin-bottom: 2px;
    }

}
