
<div>
  <span class="label">Please enter Your Verification Code sent to your mobile</span>
</div>

<div class="row">
  <div class="col-12 --no-padding-right asd">
      <div class="otp-input">
        <div class="mid">
          <input *ngFor="let i of arr; let indx = index" 
            [class]="'otp-'+indx" 
            type="number" maxlength="1"
            (click)="onClick($event)"
            placeholder="-"
            (keyup)="onChange($event)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="1"
            >
            </div>
        </div>
  </div>
</div>


<spinner slim="true" *ngIf="resendingOtp" color="blue"></spinner>
<div class="resend" (click)="resendOtp()"> {{resendingOtp ? 'Retrying' : 'Resend'}} OTP </div> 



<p *ngIf="mismatch" class="mismatch"> OTP does not match. Try Again!</p>



