<subheading text="Verifying Number" color="black"></subheading>

<div>
  <span>We have sent {{length}} digit OTP on</span><span highlight (click)="numberClicked()"> +91 {{mobile}}</span>
</div>

<div class="otp-input">
  <input *ngFor="let i of arr; let indx = index" 
    [class]="'otp-'+indx" 
    type="number" maxlength="1"
    (click)="onClick($event)"
    (keyup)="onChange($event)"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    maxlength="1"
    >

    
</div>

<p *ngIf="mismatch"> OTP does not match. Try Again!</p>

