@import 'src/variables.scss';

input {
  width: 52px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #00a4a7;
  margin-right: 4px;
  /* border: none; */
  border-bottom: 1px solid #00a4a7;

}

.label {
  text-align: center;
  color: gray;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.resend {
  position: relative;
  float: right;

  margin: 0 auto;
  display: block;
  text-align: center;
  top: 2em;
  right: 36%;
  color: $secondary-color;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mid {
  width: fit-content;
  margin: 1.5em auto;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mismatch {
  width: 238px;
  display: flex;
  margin-left: 1em;
  top: 65px;
  position: relative;
  color: red;
}