@import 'src/variables.scss';

.list-container {

    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 1s ease-in-out();
    min-height: 100px;

    max-height: 220px;

    &.expanded {
        overflow-y: auto;
        overflow-x: hidden;
        height: 220px;
    }
}

.limiter-row {
    text-align: center;

    position: relative;

    margin-top: -18px;
    background-image: linear-gradient(to bottom, transparent, 10%, white);

    .limiter {
        display: block;
        border-bottom: 1px solid #dceeef;
        padding-top: 5px;
        color: #00a4a7;
        text-align: center;
        line-height: 34px;
        margin: 0 auto;
        width: 90%;
        margin-top: 12px;
        font-size: 12px;
        height: 30px;

        &.larger {
            // height: 45px;
            // width: 45px;
            // border-radius: 45px;
            // line-height: 38px;
        }
            
       
    
    }
}