@import 'src/variables.scss';

.list-container {
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 1s ease-in-out();

    max-height: 220px;

    &.expanded {
        overflow-y: auto;
        overflow-x: hidden;
        height: 220px;
    }
}

.limiter-row {
    text-align: center;

    position: relative;

    margin-top: -18px;
    background-image: linear-gradient(to bottom, transparent, 10%, white);

    .limiter {
        display: block;

        border-bottom: 3px solid $primary-color;
        // background: $primary-color;
        padding-top: 5px;
        color: $primary-color;
        text-align: center;
        line-height: 34px;
        margin: 0 auto;

        &.larger {
            // height: 45px;
            // width: 45px;
            // border-radius: 45px;
            // line-height: 38px;
        }
            
       
    
    }
}