
$primary-color: #00a4a7;
$secondary-color: #ec6b1e;


$primary-light-color: #01a3a68c;
$secondary-light-color: #db9d41a1;

$cta-disabled-color: #131e1e;

$bg-gray: #f6f6f6;
$bg-white: #fff;
$bg-black: #000;

$bg-light-blue: #cce5ff;
