@import "src/variables.scss";

ion-slides {
  height: 333px;
  border-radius: 15px;
}

ion-slides, ion-button {
  margin-bottom: 1em;
}

.original-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}


.badge-light {
  margin-top: 1em;
}

ion-slide:nth-of-type(0){
  margin-left: 15px;
}
.addon-card {

  background: #D9F1F2 0% 0% no-repeat padding-box;
  min-height: 260px;
  border: none;

  &.selected {
    
    border: 1px solid $primary-color;
  }

  &.blocked {
    // border: 1px solid green;
  }

  .active-label {
    margin-bottom: -25px;
    color: $secondary-color;
    font-style: italic;
    letter-spacing: 0.2px;
  }

  .expiry {
    position: relative;
    display: block;
    margin-top: 20px;
    font-size: 13px;
  }

  .date-label {
    margin-top: 1em;
    position: relative;
    display: block;
    color: #507475;
    font-size: 20px;

    ion-icon {
      position: relative;
    top: 5px;
    left: -2px;
    font-size: 25px;
    }
  }

  &.active {
    
    // border: 3px solid green;
  }

  border-radius: 10px;
  padding: 0 0 16px;

  .badge-warning {
    color:white;
    font-size: 16px;
  }
  
    .card-body {
      padding-top: 0;
    }

    .bottom {
 
    }

    .card-img-top {
      height: 100px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .card-text {
      min-height: 50px;
      display: block;
      max-height: 40px;
      padding:0;

      @media screen and (min-width: 400px){
        padding: 2px 4px;
      }

      background: #01a3a6;
    color: white;
    position: relative;
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 2px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;

    &.center-text {
      line-height: 40px;
    }

    &.contrast {
      //background: $secondary-color;
    }
    }

    
  
    .rate {
      margin-top: 15px;
      font-size: 24px;
    color: #507475;
    }
  }