.container-fluid {
    text-align: justify;
    background: white;
    color: black;
    padding: 0 32px;
    margin-top: 1em;

    @media screen and (max-width: 768px) {
        margin-top: 5em;
    }
}

#s2 {
    background: bisque;
    margin-bottom: 1em;
}
#s3 {
    background: #a9e6a9;
    margin-bottom: 1em;
}
.feature-slide {
    padding: 37px;
    background: bisque;
    min-height: 600px;
}

.logo {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 70%
    }
}

.section {
    font-size: 25px;
}

.section-heading {
   text-align: center;
   font-size: 20px;
}

a {
    color: #a6eef5;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    border-bottom: 3px solid orange;
}

a:hover {
    color: yellow;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 3px solid orange;
}


.title1 {
    position: relative;
    margin-top: 2em;
    font-size: 40px;
}

.title2 {
    font-size: 30px;
}

.whatsapp {
    height: 50px;
    width: 50px;
}

.btn {
    background: white;
    width: 150%;
    font-weight: bold;
    margin-left: -20%;
    color: #00a4a7;
}

// .row {
//     background: #00a4a7;
// }

.btn:hover {
    color: white;
    background: orange;
}

.ctaRow,
.demoRow,
.contactRow {

    padding: 0 35px;
}
