<div class="row">
  <div class="offset-3 col-6">
    <span class="logo-container"><img class="logo " src="./assets/whitell.png" alt="CCubeLogo" border="0" />
    </span>
  </div>
</div>

<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-12 car-slider-container --padding-x">


      <ion-slides [options]="carSliderOptions">

        <ion-slide *ngFor="let payment of payments; let i = index">
          <div class="car-box" [class.active]="selectedIndex == i" (click)="selectCar(i)">

            <ion-label class="car-image"><img [src]="payment.payments[0].car.image" /></ion-label>
            <ion-badge>{{i}}</ion-badge>
          </div>
          <!-- <mat-card class="card addon-card animate__animated animate__flipInX">
            
                      </mat-card> -->
        </ion-slide>


        <ion-slide (click)="addCar()" class="add-car-slide">
          <p>
            <ion-icon name="add-circle-outline"></ion-icon><br />
          </p>
          <ion-label>Add Car</ion-label>

        </ion-slide>

      </ion-slides>




    </div>
  </div>

  <div class="row car-info-container">
    <div class="col-12">
      <ng-container *ngIf="!loading &&  payments.length == 0">
        <heading text="Looks like you haven't registered a car yet." align="center"></heading>
        <cta text="Add Car" (action)="addCar()"></cta>
      </ng-container>
      <ng-container *ngIf="payments.length">
        <ion-slides #planSlider [options]="planSliderOptions">

          <ion-slide *ngFor="let payment of payments; let i = index" (mouseup)="demoEvent($event)">
            <purchased-plan [style.width.%]="100" (renewPlan)="handleRenewPlan($event)" [payment]="payment.payments[0]"
              [car]="payment.payments[0].car" [plan]="payment.payments[0].plan"></purchased-plan>
          </ion-slide>

        </ion-slides>
        <div class="row --padding-x">
          <div class="col-12 tabs-container">
            <mat-accordion>
              <mat-expansion-panel class="drop">
                <mat-expansion-panel-header class="drop">
                  <mat-panel-title>
                    <ion-icon [style.color]="'#ffa169'" name="calendar-outline"></ion-icon> <span
                      class="header-text">Schedule</span>
                  </mat-panel-title>
                  <mat-panel-description class="drop">

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <weekly-schedule></weekly-schedule>


              </mat-expansion-panel>
              <mat-expansion-panel class="drop">
                <mat-expansion-panel-header class="drop">
                  <mat-panel-title>
                    <ion-icon name="document-text-outline"></ion-icon><span class="header-text"> Documents</span>
                  </mat-panel-title>
                  <mat-panel-description class="drop">

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <document-uploader></document-uploader>


              </mat-expansion-panel>
              <mat-expansion-panel class="drop">
                <mat-expansion-panel-header class="drop">
                  <mat-panel-title>
                    <ion-icon [style.color]="'#26de77'" name="save-outline"></ion-icon><span class="header-text">
                      History</span>
                  </mat-panel-title>
                  <mat-panel-description class="drop">

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="frequency">Service History Here</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </ng-container>


    </div>
    <div class="col-6">
      <!-- <drag-list> </drag-list> -->
      <!-- <document-uploader class="vertical-center doc-upload">

      </document-uploader> -->
    </div>
  </div>

</ng-container>

<ng-container *ngIf="loading">
  <spinner></spinner>
</ng-container>

<ng-container *ngIf="!loading && payments.length > 0">
  <upgrade-slider *ngIf="upgradePlans.length" [plans]="upgradePlans" (upgradeNow)="handleUpgradePlan($event)"
    (showDetails)="showPlanDetails($event)"></upgrade-slider>

  <!-- <plan-slider *ngIf="upgradePlans.length" [plans]="upgradePlans"></plan-slider> -->

  <addon-slider [bodyType]="selectedCar.bodyType" [selectedAddons]="subAddons" active="true" (addonSelected)="onAddonSelected($event)"></addon-slider>

  <adhoc-slider [selectedAdhocs]="subAdhocs"  active="true" (adhocSelected)="onAdhocSelected($event)"></adhoc-slider>
  
</ng-container>