<div class="row">
  <div class="offset-3 col-6">
    <span class="logo-container"><img class="logo " src="./assets/whitell.png" alt="CCubeLogo" border="0" />
    </span>
  </div>
</div>

<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-12 car-slider-container">


      <ion-slides [options]="carSliderOptions">

        <ion-slide *ngFor="let payment of payments; let i = index">
          <div class="car-box" [class.active]="selectedIndex == i" (click)="selectCar(i)">

            <ion-label class="car-image"><img [src]="payment.car.image" /></ion-label>
            <ion-badge>{{i}}</ion-badge>
          </div>
          <!-- <mat-card class="card addon-card animate__animated animate__flipInX">
            
                      </mat-card> -->
        </ion-slide>


        <ion-slide (click)="addCar()" class="add-car-slide">
          <p><ion-icon name="add-circle-outline"></ion-icon><br/></p>
          <ion-label>Add Car</ion-label>

        </ion-slide>

      </ion-slides>




    </div>
  </div>

  <div class="row car-info-container">
    <div class="col-12">
      <ng-container *ngIf="!loading &&  payments.length == 0">
        <heading text="Looks like you haven't registered a car yet." align="center"></heading>
        <cta text="Add Car" (action)="addCar()"></cta>
      </ng-container>
      <purchased-plan *ngIf="selectedPayment" (renewPlan)="handleRenewPlan($event)" [payment]="selectedPayment" [car]="selectedCar" [plan]="selectedPayment.plan"></purchased-plan>

    </div>
    <div class="col-6">
      <!-- <drag-list> </drag-list> -->
      <!-- <document-uploader class="vertical-center doc-upload">

      </document-uploader> -->
    </div>
  </div>

</ng-container>

<ng-container *ngIf="loading">
  <spinner></spinner>
</ng-container>



<addon-slider *ngIf="!loading && payments.length > 0"></addon-slider>