@import "src/variables.scss";

.logo-container{
    top: -20px;
    position: relative;
}

.logo {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 70%
    }
}

.info-row {
  ion-icon {
    font-size: 32px !important;
    color: gold;
  }
}

.doc-upload {
    padding-right: 20px;
    right: 0px;
}

.tabs-container {
    mat-expansion-panel-header {

      ion-icon{
        font-size: 25px;
      }

      .header-text {
        margin-top: 5px;
        margin-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &:hover {
        background-color: inherit !important;
      }
    }
  }

.wakeupTime, .officeTime {
  border: none;
  border-bottom: 1px solid gray;
  
}


.car-selector-row {
  position: sticky;
  top: -26px;
  z-index: 100;
  margin-top: -25px;
  background: white;
}

.car-slider-container {
  

      ion-slides {
        border-bottom: 1px solid gray;
      }

      .add-car-slide {
          ion-icon {
              font-size: 40px;
              color: $secondary-color;
              margin-top: 15px;
          }
          ion-label {
            padding-right: 5px;
            text-transform: uppercase;
            color: $secondary-color;
          }

          &.full-width {
            width: 135px !important;
            float: left;
          }

      }

        .car-box {

            &.active {
                border-bottom: 5px solid $secondary-color;
            }

            ion-badge {
              position: absolute;
              right: 20px;
              padding: 4px;
              border-radius: 15px;
              font-weight: normal;
              top: 0;
              background: #3fbabc;

              ion-icon {
                position: relative;
                top: 2px;
              }
            }

            .maker-text {
                font-size: 10px;
                display: block;
                height: 0;
            }

        }
        .swiper-slide img {
            width: 100%;
        }
    }

    .car-image {
        width: 50px;
        height: 50px;
    }

.car-info-container {
    position: relative;
}