@import "src/variables.scss";

.logo-container{
    top: -15px;
    position: relative;
}

.logo {
    width: 70%;
    z-index: 333;
    position: relative;

    @media screen and (min-width: 768px) {
        width: 70%
    }
}

.info-row {
  ion-icon {
    font-size: 32px !important;
    color: gold;
  }
}

.doc-upload {
    padding-right: 20px;
    right: 0px;
}

.mat-expansion-panel-body {
  padding: 0 14px 16px !important;
}

.tabs-container {
    mat-expansion-panel-header {

      ion-icon{
        font-size: 25px;
      }

      .header-text {
        margin-top: 5px;
        margin-left: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
      }

      &:hover {
        background-color: inherit !important;
      }
    }
  }

.wakeupTime, .officeTime {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
  border-color: $primary-color;
  
}

.mat-expansion-panel-header {
  height: 36px !important;
}


.car-selector-row {
  position: sticky;
  top: -40px;
  z-index: 100;
  margin-top: -25px;
  background: white;
}

.car-slider-container {

  margin-top: 5px;

  // @media screen and (min-width: 400px) {
  // margin-top: -30px;
    
  // }
  

      ion-slides {
        border-bottom: 1px solid gray;
      }

      ion-slide {
        margin-top: auto;
      }

      .add-car-slide {
        width: 120px !important;
        top: 0px;

        @media screen  and (min-width: 400px){
          top:  0px;  
        }

        left: -20px;
        
          p {
            margin-top: 15px;
          }
          ion-icon {
              font-size: 40px;
              color: $secondary-color;
          }
          ion-label {
            padding-right: 5px;
            color: $secondary-color;
            margin-left: 5px;
            font-size: 12px;
          }

          &.full-width {
            width: 135px !important;
            float: left;
          }

      }

        .car-box {
          min-height: 70px;
          //max-height: 70px;



            &.active {
                border-bottom: 5px solid $secondary-color;
            }

            ion-badge {
              position: absolute;
              right: 10px;
              padding: 1px 4px;
              font-size: 12px;
              border-radius: 15px;
              font-weight: normal;
              top: 5px;
              background: #3fbabc;

              @media screen and (min-width: 350px) {
                right: 15px;
                top: 8px;
              }

              @media screen and (min-width: 400px) {
                right: 20px;
                top: 10px;
              }

              ion-icon {
                position: relative;
                top: 2px;
              }
            }

            .maker-text {
                font-size: 10px;
                display: block;
                height: 0;
            }

        }
        .swiper-slide img {
            width: 100%;
            min-height: 60px;
        }
    }

    .car-image {
        width: 50px;
        height: 50px;
    }

.car-info-container {
    position: relative;
}