<mat-accordion class="accordion-container" [class.compact]="compact" [attr.disabled]="disabled">
    <mat-expansion-panel *ngIf="disabled" class = "drop panel-container" disabled>
        <mat-expansion-panel-header class = "drop panel-header">
            <mat-panel-title #drawerToggle>
                <span *ngIf="hasStep" [ngClass]="{'step': true, 'disabled': disabled , 'error': error, 'locked ': locked}"> {{step}}  </span> <span class="title">{{title}}</span> 
            </mat-panel-title>
            <mat-panel-description class = "drop">
                
            </mat-panel-description>
          </mat-expansion-panel-header>
    </mat-expansion-panel>
  <mat-expansion-panel *ngIf="!disabled" class = "drop panel-container">
    <mat-expansion-panel-header class = "drop panel-header">
      <mat-panel-title #drawerToggle>
          <span *ngIf="hasStep" [ngClass]="{'step': true, 'disabled': disabled, 'error': error, 'locked ': locked}" > {{step}}  </span> <span class="title">{{title}}</span> 
      </mat-panel-title>
      <mat-panel-description class = "drop">
          
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content" [class.--no-padding]="hasStep">
      <ng-content ></ng-content>
    </div>
   
   
    
  </mat-expansion-panel>
</mat-accordion>