<mat-accordion class="accordion-container" [class.compact]="compact">
  <mat-expansion-panel class = "drop panel-container">
    <mat-expansion-panel-header class = "drop panel-header">
      <mat-panel-title>
          <span *ngIf="hasStep" class="step"> {{step}}  </span> <span class="title">{{title}}</span>
      </mat-panel-title>
      <mat-panel-description class = "drop">
          
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <ng-content ></ng-content>
    </div>
   
   
    
  </mat-expansion-panel>
</mat-accordion>