@import "src/variables.scss";

.panel-container {
    border-radius: 10px !important;
    
}

.panel-content {
    padding-top:15px;
    padding-bottom: 15px;
}

.panel-header {
    background: white !important;
    height: 40px !important;
    z-index: 1;
}

.locked-icon {
    position: absolute;
    right: 15px;
}

.step {
    display: inline-block;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    padding-left: 5px;
    border: 3px solid $secondary-color;
    margin-right: 5px;

    &.disabled {
        border: 3px solid gray;
    }

    &.error {
        border: 3px solid red;
    }

    .error-text {
        color: red;
    }

    &.locked {
        border: 3px solid green;
    }
}

.empty {
    color: black;
    pointer-events: none;
}

.title {
    font-size: 12px;
}

.accordion-container {
    margin: 10px 0;
    display:block;
}

.label {
    color: black;
}

.compact-separator {
    // border-bottom: 1px solid $secondary-color;
    // border-radius: 20px;
}

.compact {
    margin:0;
    color: gray;

    .mat-expansion-panel-header-title {
        color: gray !important;
    }

    .mat-expansion-panel-body {
        padding: 0 10px 16px;
    }

    .price {
        flex-direction: row-reverse;
    }

    .panel-container {
        box-shadow: none;
    }

    .panel-content {
        width: 108%;
        left: -25px;
        padding: 0 !important;
        position: relative;


    }

    .scrollable {
        max-height: 225px;
        overflow-y: scroll;
    }

    .panel-header {
        padding-left: 0;
        padding-right: 10px;
    }

    .mat-expansion-panel-body {
        padding: 0 12px;
    }
}