<mat-accordion class="accordion-container" [class.compact]="compact" [class.colorful]="colorful" [class.alternate]="alternate"[class.colorful]="colorful" [attr.disabled]="disabled">

  <mat-expansion-panel #drawerPannel *ngIf="!(disabled || empty)" class="drop panel-container">
    <mat-expansion-panel-header class="drop panel-header">
      <mat-panel-title #drawerToggle (click)="onHandleClick($event)" [class.empty]="empty">
        <span *ngIf="hasStep" [ngClass]="{'step': true, 'disabled': disabled, 'error': error, 'locked ': locked}">
          {{step}} </span> <span class="title" >{{title}}</span>
      </mat-panel-title>
      <mat-panel-description class="drop price">
        <span *ngIf="label" class="" Rs> {{label}} </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content" [class.--no-padding]="hasStep" [class.scrollable]="scrollable">

      <div [class.compact-separator]="compact">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="disabled" class="drop panel-container" disabled>
    <mat-expansion-panel-header class="drop panel-header">
      <mat-panel-title #drawerToggle (click)="onHandleClick($event)">
        <span *ngIf="hasStep" [ngClass]="{'step': true,  'disabled': disabled && !empty , 'error': error, 'locked ': locked}">
          {{step}} </span> <span class="title" [class.error-text]="error">{{title}}</span>
      </mat-panel-title>
      <mat-panel-description class="drop">

      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true" *ngIf="empty" class="drop panel-container">
      <mat-expansion-panel-header class="drop panel-header">
        <mat-panel-title #drawerToggle >
          <span *ngIf="hasStep" [ngClass]="{'step': true,  'disabled': disabled && !empty , 'error': error, 'locked ': locked}">
            {{step}} </span> <span class="title" [class.error-text]="error">{{title}}</span>
        </mat-panel-title>
        <mat-panel-description class="drop">
  
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>