@import 'src/variables.scss';


#carouselExampleIndicators {
    min-height: 325px;
}
.carousel-indicators {
    li {
        background-color: $primary-color;
    }
}

.carousel-control-prev, .carousel-control-next {
    color: $secondary-color;
    font-size: 40px;
}